{{ define "main" }}

<div class="grid-container">
  <div class="grid-row">
    <div class="grid-col-12">

      <article class="">
        <section class="">
          {{- .Content -}}
        </section>
        <section class="">
          {{ range .Paginator.Pages }}
            <div class="">
              {{- partial "summary.html" . -}}
            </div>
          {{ end }}
        </section>

        {{- template "_internal/pagination.html" . -}}
        
      </article>

    </div>
  </div>
</div>
{{ end }}
