.card-event{
  @include u-margin-y(0);
  @include u-padding-y(4);
  @include at-media('tablet-lg') {
    @include u-padding-y(3);
  }
  @include u-border-top('1px','gray-40', 'dotted');

  header {
    @include u-padding-y(0);

    .event-details{
      @include u-margin-y('105');
      @include u-font('sans', '2xs');
      @include u-text('medium');
      @include at-media('tablet-lg') {
        @include u-margin(0);
        @include u-font('sans', 'sm');
      }
      time{
        @include u-margin-right(0);
      }

      .event-time{
        @include u-margin(0);
        @include u-margin-top('05');
        @include u-margin-x('1px');
        @include u-display('block');
        @include u-text('light');
        @include u-font('sans', '2xs');
        @include u-line-height('sans', 2);
        @include at-media('tablet-lg') {
          @include u-font('sans', 'xs');
        }

        .divider{
          @include u-display('inline');
          @include at-media('tablet-lg') {
            // @include u-display('none');
          }
        }
      }

      .event_platforms{
        @include u-margin-top(1);
        @include u-text('normal');
        @include u-font('sans', 'xs');
        p{
          @include u-margin-y(0);
          @include u-text('gray-60');
          img{
            @include u-margin-right('2px');
            @include u-position('relative');
            @include u-top('2px');
            @include u-width(2);
          }
        }
      }

      .soldout{
        @include u-margin-bottom(0);
        @include u-padding-x(2);
        @include u-padding-y('05');
        @include u-font('sans', 'xs');
        @include at-media('tablet-lg') {
          @include u-font('sans', 'sm');
        }
        @include u-text('semibold');
        @include u-text('orange-warm-50v');
        @include u-display('inline-block');
        @include u-bg('orange-warm-10v');
        @include u-radius('pill');
        span{
          @include u-text('bold');
        }
      }

    }


    .kicker{
      @include u-margin-bottom('05');
      @include u-font('sans', '2xs');
      @include at-media('tablet-lg') {
        @include u-font('sans', 'xs');
      }
    }

    h2{
      @include u-margin(0);
      @include u-text('medium');
      @include u-font('sans', 'lg');
      @include u-line-height('sans', 2);
      strong{
        @include u-text('medium');
      }
    }

    .deck{
      @include u-font('sans', 'lg');
    }

    .sponsor{
      @include u-margin(0);
      @include u-margin-top(1);
      @include u-font('sans', '2xs');
      @include u-text('thin');
      @include u-text('italic');
      @include u-text('gray-60');
      @include at-media('tablet-lg') {
        @include u-font('sans', '2xs');
      }
    }


    .actions{
      @include u-margin-top(1);
      @include at-media('desktop-lg') {
        @include u-padding-left(3);
      }
      @include u-display('flex');
      @include u-flex('justify-start');
      @include at-media('tablet-lg') {
        @include u-display('block');
      }
      .register{
        @include u-margin-right(1);
        @include at-media('tablet-lg') {
          @include u-margin-right(0);
        }
        .btn-register{
          @include u-bg('white');
          @include u-text('indigo-warm-70v');
          @include u-border('2px', 'solid', 'indigo-warm-70v');
          @include at-media('tablet-lg') {
            @include u-width('full');
          }
        }
      }
    }

  }

  &:first-child{
    @include u-border-top(0);
  }
}
