section.card-event-past{
  @extend .event;
  @include u-margin(0);
  @include u-padding(0);
  @include u-margin-bottom(0);

  .overlay *{
    @include u-text('black');
    .kicker, .kicker .collection, .kicker .series span{
      @include u-text('indigo-warm-70v');
    }
  }
  header {
    @include u-padding-top(1);
    @include u-bg('transparent');
    @include u-minh('card');
    @include u-z(100);
    @include u-width('full');
    @include at-media('tablet-lg') {
    }
    .kicker{
      @include u-margin-bottom('05');
      @include u-text('left');
      @include u-font('sans', 'xs');
      @include u-text('indigo-warm-70v');
      @include at-media('tablet-lg') {
        @include u-font('sans', '2xs');
      }
    }

    h2{
      @include u-margin-top(0);
      @include u-font('sans', 'lg');
      @include u-line-height('sans', 2);
      @include u-text('medium');
      @include u-text('left');
      strong{
        @include u-text('medium');
      }
    }

    .deck{
      @include u-font('sans', 'lg');
    }
    .event-details{
      @include u-margin-top(2);
      @include u-margin-bottom(0);
      @include u-font('sans', '2xs');
      @include u-text('left');
      time{
        @include u-text('thin');
      }
    }
    .actions{
      .btn-event{
        @include u-bg('white');
        @include u-border('2px', 'solid', 'black');
        @include u-text('black');
      }
    }
  }
  &:first-child{
    // @include u-margin-top(0);
    @include u-border-top(0);
  }

  .card_cover{
    @include u-margin-bottom(1);
    @include u-height('card');

    @include u-bg('gray-cool-70');

    .card_cover_img{
      svg{
        @include u-margin-y(0);
        @include u-margin-top(5);
        @include u-margin-x('auto');
        @include u-width(10);
        @include u-height(10);
        @include u-position('absolute');
        @include u-top(0);
        @include u-left(0);
        @include u-right(0);
        .circle{
          @include u-bg('gray-cool-80');
          @include u-border('1px','white','solid');
          fill:#2d2e2f;
        }
      }
    }
  }

}
