{{ "<!-- Start of Open Graph tags -->" | safeHTML }}

{{/* Featured image */}}
{{- $card_filename := print "/material/img/brooklynrail-card-" (index (seq 6 | shuffle) 0) ".png" -}}

{{- $meta_title := .Title -}}

{{- $meta_description := "" -}}
{{- if and (eq .Kind "page") (eq .Section "events") -}}
  {{- $series := "" -}}
  {{- if .Params.series -}}
    {{- $series = print "#" .Params.series " | " }}
  {{ end -}}
  {{- $meta_description = print $series .Summary -}}
{{- else -}}
  {{- $meta_description = .Summary -}}
{{- end -}}

<meta property="og:title" content="{{- $meta_title -}}" />
<meta property="og:description" content="{{- $meta_description | default $.Site.Params.description | markdownify -}}" />
<meta property="og:type" content="{{- if .IsPage -}}article{{- else -}}website{{- end -}}" />
<meta property="og:url" content="{{- .Permalink -}}" />
{{ if $.Params.youtube_id -}}<meta property='og:video' content='https://www.youtube.com/v/{{ $.Params.youtube_id }}' />{{- end }}
{{- with $card_filename }}
<meta property="og:image" content="{{ . | relURL }}" />
{{ end -}}
{{ "<!-- End of Open Graph tags -->" | safeHTML }}

{{ "<!-- Start of Twitter Card -->" | safeHTML }}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@TheBrooklynRail" />
<meta name="twitter:creator" content="@TheBrooklynRail" />
{{- with $card_filename }}
<meta property="twitter:image:src" content="{{ . | relURL }}" />
{{ end -}}
<meta property="twitter:title" content="{{- $meta_title | default $.Site.Title | markdownify -}}">
<meta property="twitter:description" content="{{- $meta_description | default $.Site.Params.description | markdownify -}}">
{{ "<!-- End of Twitter -->" | safeHTML }}
