{{ "<!-- Schema.org -->" | safeHTML }}

<meta itemprop="name" content="{{ .Title }}">
<meta itemprop="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}">

{{- if .IsPage }}
  {{ $ISO8601 := "2006-01-02T15:04:05-07:00" }}
{{ if not .PublishDate.IsZero }}
  <meta itemprop="datePublished" content="{{ .PublishDate.Format $ISO8601 | safeHTML }}" />
  {{ end }}
  {{ if not .Lastmod.IsZero }}
  <meta itemprop="dateModified" content="{{ .Lastmod.Format $ISO8601 | safeHTML }}" />
  {{ end }}
{{- end }}

{{- $thumb := printf "https://i.ytimg.com/vi/%s/mqdefault.jpg" .Params.youtube_id -}}
{{- $embedUrl := printf "https://www.youtube.com/embed/%s" .Params.youtube_id -}}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "VideoObject",
  "name": {{ .Title | markdownify }},
  "description": {{ .Summary | markdownify }},
  "thumbnailUrl": {{ $thumb }},
  "uploadDate": {{ .Date }},
  "embedUrl": {{ $embedUrl }},
}
</script>

{{- "<!-- END Schema.org -->" | safeHTML }}


