node_modules/
/public/
/resources/
themes/brooklynrail/static/material/dist/
themes/brooklynrail/static/material/fonts/merriweather/
themes/brooklynrail/static/material/fonts/source-sans-pro/

# Local Netlify folder
.netlify
