title                   : "The Brooklyn Rail"
baseURL                 : "/"
languageCode            : "en-us"
theme                   : "brooklynrail"
themesDir               : "./themes"
MetaDataFormat          : "yaml"
DefaultContentLanguage  : "en"
SectionPagesMenu        : "main"
Paginate                : 20
googleAnalytics         : ""
enableRobotsTXT         : true
enableEmoji             : true
enableGitInfo           : true
buildFuture             : true


# HUGO will ignore pages in the following folders
ignoreFiles:
  - "^_template"
  - "content/_archived/*"

permalinks:
  article               : ":year/:month/:day/:slug/"
  events                : "event/:year/:month/:day/:slug/"

outputs:
  home: ["HTML","RSS", "JSON"]
  section: ["HTML","RSS", "JSON"]
  page: ["HTML", "JSON"]
  taxonomy: ["HTML","RSS", "JSON"]

.params:
  events_count: 20
  articles_count: 20
  mainSections:
    - events
