{{/* ==========================
DATE Variables
The following variables transform dates and times for the event `start_date` and `end_date` and set them for use in the event page. */}}

<section class="card-media">
  <header>

    <div class="grid-row grid-gap-2">

      <div class="grid-col-12 tablet-lg:grid-col-3">
        <h2 class="p-name">
          <a href="{{ .Permalink | relURL }}" title="{{- .Params.Title -}}">{{- .Params.Title | markdownify -}}</a>
        </h2>
      </div>
      <div class="grid-col-12 tablet-lg:grid-col-4">
        <code>{{- .Date.Format "2006/01" -}}/{{- .File.BaseFileName -}}</code>
      </div>
      <div class="grid-col-12 tablet-lg:grid-col-5">
        <div class="edit">
          <a class="btn btn-xs" target="_new" href="https://brooklynrail.netlify.app/workflow/#/collections/media/entries/{{- .Date.Format "2006" -}}&#47;{{- .Date.Format "01" -}}&#47;{{- .File.BaseFileName -}}">Edit</a>

          {{- $path := .Date.Format "2006/01" -}}
          {{- $path = print $path "/" -}}
          {{- $path = print $path .File.LogicalName -}}
          {{- $path = print "https://github.com/brooklynrail/brooklynrail-platform/edit/master/content/media/" $path -}}

          <a href="{{- $path -}}">Edit on GitHub</a>
        </div>
      </div>
    </div>
  </header>
</section>
