
.header{
  .kicker{
    @include u-padding-bottom(8);
    @include u-text('center');
    @include u-text('light');
    @include u-text('no-uppercase');
    @include u-text('black');
    @include u-font('sans', 'xl');
    a{
      @include u-text('black');
      @include u-text('no-underline');
      &:hover{
        @include u-text('underline');
      }
    }
  }

  .project_logo{
    @include u-display('block');
    @include u-margin-top(4);
    @include u-padding-y(4);
    @include u-text('center');
    svg{
      @include u-width('full');
      @include u-height('full');
    }
  }

  .rail-logo{
    @include u-padding-y('105');
    @include u-display('block');
    svg{
      @include u-margin-x('auto');
      @include u-width('mobile');
      @include u-height(4);
      @include u-display('block');
      #brooklynrail-logo{
        fill: #000;
        stroke: #000;
        stroke-width:0;
      }
    }
  }
}

main{
  @include u-position('relative');
  @include u-overflow('scroll');
  @include u-padding-y(5);
  @include u-margin-bottom(10);
  @include at-media('tablet-lg') {
    @include u-padding-y(7);
    @include u-margin-bottom(15);
  }

  header{
    @include u-margin-y(0);
    @include u-margin-bottom(4);
    h1{
      @include u-text('center');
      @include u-text('light');
    }
    .deck{
      @include u-padding-bottom(0);
      @include u-font('sans', '2xl');
      @include u-text('light');
      a{
        @include u-text('black');
      }
    }
  }

  .main-nav{
    @include u-padding-bottom(8);
  }
}

.content{
  @include u-margin-bottom(4);
  @include u-font('sans', 'md');
  @include u-text('normal');
  @include u-line-height('sans', 3);
  @include at-media('tablet-lg') {
    @include u-font('sans', 'lg');
    @include u-text('light');
  }
  a{
    @include u-text('black');
  }
}

.letters{
  @include u-padding-y(4);
  @include u-display('flex');
  @include u-flex('justify');
  a{
    @include u-font('sans', 'lg');
    @include u-text('no-underline');
    &:hover{
      @include u-text('underline');
    }
  }
}
.all-people{
  @include u-margin-y(5);
  h2{
    @include u-margin-y(0);
    @include u-margin-bottom('105');
    @include u-text('bold');
    @include u-font('sans', 'lg');
  }
  p{
    @include u-margin-y(0);
    @include u-font('sans', 'md');
    a{
      @include u-text('black');
    }
  }
}
.person{
  @include u-margin-bottom(5);
  figure{
    width:100%;
  }
  img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }
  p{
    @include u-margin-top(0);
    @include u-font('sans', 'sm');
    @include u-text('normal');
    @include u-text('gray-80');
    span{
      @include u-font('sans', '2xs');
    }
  }
}
.letter{
  @include u-margin-bottom(5);
  @include u-bg('black');
  @include u-height('card');
  @include u-text('center');
  @include u-text('thin');
  @include u-font('sans', '3xl');
  font-size: 7rem;
  a{
    @include u-text('white');
    @include u-display('block');
    @include u-text('no-underline');
    &:hover{
      @include u-text('underline');
    }
  }
}
