{{/*
Donate Shortcode
{{< donate >}}
*/}}

{{/* Gets the `media` data from the image shortcode */}}
{{- $heading := (.Get "heading" | markdownify) -}}
{{- $placeholder := (.Get "placeholder") -}}
{{- $value := (.Get "value") -}}

<div class="shortcode-donate shortcode-donate-sm">
  <form class="rail-form" id="donate-form">
    <fieldset>
      <div class="fields">
        {{- if $heading -}}
          <legend>{{- $heading -}}</legend>
        {{- else -}}
          <legend>Donate to the Rail</legend>
        {{- end -}}

        <div class="group">

          <div class="field">
            <label for="donate-amount">Amount <span class="usa-hint"></span></label>
            <div class="prefix">
              <span>$</span>
              <input type="number" min="0" placeholder="{{- if $placeholder -}}{{- $placeholder -}}{{- else -}}25{{- end -}}" id="donate-amount" />
            </div>
          </div>

          <div class="field">
            <button class="btn btn-md" type="button" id="btn-donate"><span>Donate</span></button>
          </div>

        </div>
      </div>
    </fieldset>
  </form>
</div>
