{{/*
Donate Shortcode
{{< donate >}}
*/}}

<div class="shortcode-donate shortcode-donate-sm">
  <form class="rail-form" id="donate-form">
    <fieldset>
      <legend>Donate to the Rail</legend>
      <div class="group">

        <div class="field">
          <label for="donate-amount">Amount <span class="usa-hint"></span></label>
          <div class="prefix">
            <span>$</span>
            <input type="number" min="0" placeholder="25" id="donate-amount" />
          </div>
        </div>

        <div class="field">
          <button class="btn btn-md" type="button" id="btn-donate"><span>Donate</span></button>
        </div>

      </div>
    </fieldset>
  </form>
</div>
