{{/*
Donate Shortcode
{{< donate placeholder="25" value="25" >}}
*/}}

{{/* Gets the `media` data from the image shortcode */}}
{{- $heading := (.Get "heading" | markdownify) -}}
{{- $placeholder := (.Get "placeholder") -}}
{{- $value := (.Get "value") -}}

<div class="shortcode-donate shortcode-donate-sm">

  <form class="rail-form" id="donate-form">
    <fieldset>
      <div class="fields">
        {{- if $heading -}}
          <legend>{{- $heading -}}</legend>
        {{- else -}}
          <legend class="hidden">Donate to the Rail</legend>
        {{- end -}}

        <div class="group">
          <div class="field">
            <label for="donate-amount">Choose your amount</label>
            <div class="prefix">
              <span>$</span>
              <input required type="number" placeholder="{{- if $placeholder -}}{{- $placeholder -}}{{- else -}}250{{- end -}}" name="amount" id="donate-amount" pattern="^\d+(?:\.\d{1,2})?$" title="Currency" min="0" value="" step="0.01" />
            </div>
            <div class="usa-checkbox transaction-fee-checkbox">
              <input class="usa-checkbox__input" id="transaction-fee" type="checkbox" name="donation_types" value="" data-fee="">
              <label class="usa-checkbox__label" for="transaction-fee">
                Include the <span class="fee">$0.00</span> processing fee</label> 
            </div>
            <input class="hidden" id="transaction-type" type="hidden" name="transaction-type" value="endowment">
            <div id="mailAddress" class="grid-row grid-gap-4">
              <div class="grid-col-12">
                <pre>The Brooklyn Rail
253 36th Street, 3rd Floor, Suite C304
Brooklyn, NY 11232
Mailbox 20</pre>
              </div>
            </div>
          </div>
        </div>
        
        
        <div class="group">
          <div class="field">
            <div class="btn-helper">
              <button class="btn btn-md" type="button" id="btn-donate" disabled><span>Donate</span></button>
            </div>
          </div>
        </div>
        
      </div>
    </fieldset>
  </form>
  
  <div class="content terms">
    <p>The Brooklyn Rail is a nonprofit 501(c)(3) organization. Your donation is fully deductible. Questions? Email <a
    href="mailto:donate@brooklynrail.org" title="email the Brooklyn Rail">donate@brooklynrail.org</a> ❤️</p>
  </div>
  
</div>

{{- define "custom_js" }}
  <script src="https://js.stripe.com/v3/"></script>

  {{ $donate_js := (resources.Get "js/donate.js" | js.Build "material/dist/donate.js" | resources.Fingerprint "sha512") -}}
  <script src="{{- $donate_js.RelPermalink -}}" {{ printf "integrity=%q" $donate_js.Data.Integrity | safeHTMLAttr }} ></script>
{{- end -}}
