{{/*
Donate Progress Shortcode
{{< donateProgress >}}
*/}}

{{/* Gets the `media` data from the image shortcode */}}
{{- $heading := (.Get "heading" | markdownify) -}}
{{- $placeholder := (.Get "placeholder") -}}
{{- $value := (.Get "value") -}}



<div class="shortcode-donateProgress">
  <div class="daysLeftNumber">We've raised <span>$23,567</span> out of <span>$150,000</span> from <span>38 people</span></div>
  <div class="progressBar"><div></div></div>
</div>

{{- define "custom_js" }}
  <script src="https://js.stripe.com/v3/"></script>

  {{ $donate_js := (resources.Get "js/donate.js" | js.Build "material/dist/donate.js" | resources.Fingerprint "sha512") -}}
  <script src="{{- $donate_js.RelPermalink -}}" {{ printf "integrity=%q" $donate_js.Data.Integrity | safeHTMLAttr }} ></script>
  {{/* <script src="{{- "material/dist/signup.js" | relURL -}}"></script> */}}
{{- end -}}
