{{/*
Image Shortcode
{{< image media="2020/05/jim-melchert" size="md" >}}
*/}}

{{/* Gets the `media` data from the image shortcode */}}
{{- $media := (.Get "media" | lower) -}}

{{/* Gets the page data for this media in `/content/media` */}}
{{- $image := .Site.GetPage "page" (print "media/" $media) -}}

{{/* Gets the specified `size` of the image from the shortcode */}}
{{- $size := (.Get "size") -}}


{{- template "media" (dict "image" $image "size" $size )  -}}

{{/* Template: media */}}
{{- define "media" -}}

  {{- $size := .size -}}
  {{- $image := .image -}}
  {{- $format := .format -}}

  {{/*
  Set the width of the images based on size.
  We'll pass these values into the query string at the end of the image URL.
  Netlify will crop the images to these widths
  https://docs.netlify.com/large-media/transform-images/#examples
  */}}
  {{- $width := "1000" -}}
  {{- if eq $size "2xs" -}}
    {{- $width = "90" -}}
  {{- else if eq $size "xs" -}}
    {{- $width = "130" -}}
  {{- else if eq $size "sm" -}}
    {{- $width = "250" -}}
  {{- else if eq $size "md" -}}
    {{- $width = "350" -}}
  {{- else if eq $size "lg" -}}
    {{- $width = "700" -}}
  {{- else if eq $size "xl" -}}
    {{- $width = "1200" -}}
  {{- end -}}


  {{/* Checks for the image,
  then passes the image data to the figure template */}}
  {{- with $image -}}
    {{- template "figure" (dict "image" . "size" $size "width" $width "format" $format )  -}}
  {{- end -}}


{{- end -}}


{{/* Template: figure */}}
{{- define "figure" -}}
  {{- $size := .size -}}
  {{- $image := .image -}}
  {{- $width := .width -}}
  {{- $format := .format -}}

  <figure class="media media-{{- $size -}}">
    {{- $nf_resize := (print "?nf_resize=fit&w=" $width ) -}}
    {{ if eq $format "square" }}
      {{- $nf_resize = (print "?nf_resize=smartcrop&w=" $width "&h=" $width ) -}}
    {{ end }}

    <img src="{{- $image.Params.media -}}{{- $nf_resize -}}" alt="{{- $image.Params.alt -}}" title="{{- $image.Params.alt -}}">
    {{- with $image.Params.caption -}}
      {{- template "figcaption" (dict "caption" . )  -}}
    {{- end -}}
  </figure>
{{- end -}}


{{/* Template: figcaption */}}
{{- define "figcaption" -}}
  {{- with .caption -}}
    <figcaption>{{- . | markdownify -}}</a></figcaption>
  {{- end -}}
{{- end -}}
