{{- $media := (.Get "media" | lower) -}}
{{- $size := (.Get "size") -}}
{{- $image := .Site.GetPage "page" (print "media/" $media) -}}

{{- with $image -}}
  {{- template "figure" (dict "image" . "size" $size )  -}}
{{- end -}}


{{/* Template: figure */}}
{{- define "figure" -}}
  {{- $size := .size -}}
  {{- $image := .image -}}

  <figure class="media media-{{- $size -}}">
    <img src="{{- $image.Params.media -}}" alt="{{- $image.Params.alt -}}">
    {{- with $image.Params.caption -}}
      {{- template "figcaption" (dict "caption" . )  -}}
    {{- end -}}
  </figure>
{{- end -}}


{{/* Template: figcaption */}}
{{- define "figcaption" -}}
  {{- with .caption -}}
    <figcaption>{{- . | markdownify -}}</a></figcaption>
  {{- end -}}
{{- end -}}
