{{/* ==========================
DATE Variables
The following variables transform dates and times for the event `start_date` and `end_date` and set them for use in the event page. */}}

<section class="card-pause  h-event">
  <header>

    <div class="grid-row grid-gap-2">

      <div class="grid-col-12 tablet-lg:grid-col-8 tablet-lg:grid-offset-2 ">
        <div class="details">
          
          <div class="head">
            <p>☀️😎</p>
            <h2>The New Social Environment is going on summer break</h2>
            <p>June 1 – September 3, 2024</p>
          </div>
          <p>We look forward to seeing you <strong>Tuesday, September 3, 2024</strong> for more live dialogues with artists, filmmakers, writers, and poets.</p>
          <p><a href="#" title="More details"><button class="btn btn-md" type="button" name="register"><span>Get notified</span></button></a></p>
        </div>

      </div>
    </div>
  </header>
</section>
