{{/* ==========================
DATE Variables
The following variables transform dates and times for the event `start_date` and `end_date` and set them for use in the event page. */}}

{{- $start_date := .Date -}}
{{- $end_date := (time .Params.end_date) -}}
{{- $event_start_date := dateFormat "Monday, January 2, 2006" (time $start_date) -}}
{{- $event_start_time := dateFormat "3:04" (time $start_date) -}}
{{- $event_start_time_suffix := dateFormat "PM" (time $start_date) -}}
{{- $event_start_time_suffix := replace $event_start_time_suffix "PM" "p.m." -}}
{{- $event_start_time_suffix := replace $event_start_time_suffix "AM" "a.m." -}}

{{- $event_start_time_pt := dateFormat "3:04" ((time $start_date).Add ( -3 | duration "hour" )) -}}
{{- $event_start_date_ISO := dateFormat "2006-01-02T15:04:05Z07:00" (time $start_date) -}}
{{- $event_start_date_cal := dateFormat "2006-01-02 03:04 PM" (time $start_date) -}}
{{- $event_end_date := dateFormat "Monday, January 2, 2006" (time $end_date) -}}
{{- $event_end_time := dateFormat "3:04" (time $end_date) -}}
{{- $event_end_time_suffix := dateFormat "PM" (time $end_date) -}}
{{- $event_end_time_suffix := replace $event_end_time_suffix "PM" "p.m." -}}
{{- $event_end_time_suffix := replace $event_end_time_suffix "AM" "a.m." -}}
{{- $event_end_time_pt := dateFormat "3:04" ((time $end_date).Add ( -3 | duration "hour" )) -}}
{{- $event_end_date_ISO := dateFormat "2006-01-02T15:04:05Z07:00" (time $end_date) -}}
{{- $event_end_date_cal := dateFormat "2006-01-02 03:04 PM" (time $end_date) -}}
{{- $event_duration := (time $end_date).Sub (time $start_date) -}}
{{- $event_url := (print "\n\nEvent Page: https:" .Permalink) -}}
{{- $event_title := (print .Title .Params.deck )| markdownify -}}
{{- $event_desc := $.Params.summary | default $.Site.Params.description | markdownify -}}
{{- $event_description := (print $event_desc $event_url) -}}
{{- $event_location := .Params.venue.venue_name -}}



<section class="card-event h-event">
  <header>
    <div class="grid-row">
      <div class="grid-col-12 tablet:grid-col-10">
        <div class="content">

          {{- with .Params.kicker -}}
          <p class="kicker">
            {{- . -}}
          </p>
          {{- end -}}

          {{- if .Params.Title -}}
          <h2 class="p-name">
            <a href="{{ .Permalink }}" title="{{- .Title -}}">{{- .Title | markdownify -}}</a>
          </h2>
          {{- end -}}

          {{- with .Params.Deck -}}
          <p class="deck">
            {{- . | markdownify -}}
          </p>
          {{- end -}}

          {{- with .Params.Summary -}}
          <div class="summary content">
            <p>{{- . | markdownify -}}</p>
          </div>
          {{- end -}}

          {{- if $event_start_date -}}
          <div class="event-date">
            {{/* Start Date */}}
            <time class="dt-start" datetime="{{- $event_start_date_ISO -}}">{{- $event_start_date -}}</time>

            {{/* Hidden: This completes the `dt-end` value for the `h-event` microformat */}}
            <span class="hidden"> to <time class="dt-end" datetime="{{- $event_end_date_ISO -}}">{{- $event_end_date -}}</time></span>
          </div>

          <div class="event-time">
            <p>{{- $event_start_time }}{{ $event_start_time_suffix }} ET / {{ $event_start_time_pt }}{{ $event_start_time_suffix }} PT</p>
          </div>
          {{- end -}}

          {{- with .Params.registration_url -}}
          <div class="actions">
            {{/* Registration button */}}
            <a class="u-white" href="{{- . -}}" title="Register"><button class="btn btn-lg btn-register" type="button" name="register"><span>Register</span></button></a>

            <a class="u-black" href="{{- . -}}" title="View event details"><button class="btn btn-lg btn-event" type="button" name="event"><span>View event</span></button></a>

          </div>
          {{- else -}}
          <div class="actions">
            {{/* Coming soon */}}
            <p class="coming-soon">Registration coming soon. <span>Dates and times might change.</span></p>
          </div>
          {{- end -}}

        </div>
      </div>

      <div class="grid-col-12 tablet:grid-col-2">
        {{/* Featured Image */}}
        {{- $featured_image := .Params.featured_image -}}
        {{- if $featured_image -}}
        <div class="media featured_image">
          <a href="{{ .Permalink }}" title="{{- .Title -}}"><img src="{{- $featured_image -}}" alt="{{- .Title -}}"></a>
        </div>
        {{- end -}}
      </div>

    </div>
  </header>

</section>
