{{- define "main" -}}

  {{- with .Content -}}
    {{- . -}}
  {{- end -}}

  {{/* Gets all events */}}
  {{- $events := where $.Site.RegularPages  "Section" "events" -}}

  {{/* Upcoming Events ==================== */}}
  {{/* Gets all $events with a date greater than or equal to today */}}
  <!-- This is usually set to (now.AddDate 0 0 -1) -->
  {{- $future_events := where $events "Date" "ge" (now.AddDate 0 0 0) -}}
  {{/* Reverses the order of the events, so the next event is at the top */}}
  {{- $future_events := $future_events.Reverse -}}


<main class="events" id="main-content" role="main">

  
  <section>
    <div class="grid-container">
      <div class="grid-row grid-gap-4">
        <div class="grid-col-12">
          <h2 class="heading">Upcoming Events</h2>
          <p class="links">
            <a href="/events#past"><span>Past events</span></a>
            <a href="https://www.youtube.com/thebrooklynrail?sub_confirmation=1" title="View our videos on YouTube"><span>Video archive</span></a>
          </p>
        </div>
      </div>

      {{- .Render "card-pause" -}}

      {{- if $future_events -}}

      {{/* Paginates the events if there are more than X (set in config.yml) */}}
      <div class="stream">
        {{- range (.Paginate ( $future_events )).Pages -}}
          {{- .Render "card-event" -}}
        {{- end -}}
        
      </div>

      {{- end -}}

      <div class="grid-row">
        <div class="grid-col-12 tablet:grid-col-8 tablet:grid-offset-2">
          <div class="sponsors">
            <p>{{- ":heart: :rainbow:" | emojify }} We'd like to thank the <a href='https://www.instagram.com/terraamericanart/'><strong>The Terra Foundation for American Art</strong></a> for making our daily conversations possible, and for their support of our growing archive.</p>
            <p class="links"><a href='https://www.instagram.com/terraamericanart/'><i class="fab fa-instagram"></i> <span>Follow @terraamericanart</span></a> <a href='https://www.terraamericanart.org/'><span>Learn more »</span></a></p>
          </div>
        </div>
      </div>

    </div>
  </section>

  {{- .Render "past-events" -}}

</main>

{{ end }}
