{{- define "main" -}}
{{- $permalink := .Permalink | relURL -}}
{{- $permalink = replace $permalink "/info.html" "" -}}


<main class="info" id="main-content" role="main">

  <section>
    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-col-12 tablet:grid-col-8 tablet:grid-offset-2">
          <p class="back"><a class="u-primary" href="{{- $permalink -}}"><i class="fas fa-arrow-left"></i>&nbsp;<span>Back to page</span></a></p>
          <div class="content">
            <h1>{{- .Title -}}</h1>
            <p>{{- .Summary -}}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-col-12 tablet:grid-col-8 tablet:grid-offset-2">
          <div class="content">

            <h2>Newsletter</h2>

            {{/* Get the events list from this partial */}}
            {{- $events := partial "info-event-list.html" . -}}
            {{/* pass the $events to accordion */}}
            {{- partial "accordion" (dict "page" . "content" $events "title" "Events List Code") -}}

            {{/* Get the Newsletter SCSS file `/assets/newsletter/newsletter.scss` */}}
            {{- $css := resources.GetMatch "newsletter/newsletter.scss" | toCSS -}}
            {{- $css_minified := $css | minify -}}

            {{/* Create the strings that make up the MailChimp CSS, then join them together. */}}
            {{- $fonts := "<link href='https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,300;0,700;1,100;1,300;1,700&display=swap' rel='stylesheet'>\n\n" -}}

            {{- partial "accordion" (dict "content" (printf "%s%s%s%s" $fonts "<style type='text/css'>" $css_minified.Content "</style>") "title" "Newsletter CSS (minified)") -}}

            {{- partial "accordion" (dict "content" (printf "%s%s%s%s" $fonts "<style type='text/css'>" $css.Content "</style>") "title" "Newsletter CSS") -}}


          </div>
        </div>
      </div>
    </div>
  </section>


</main>
{{- end -}}
