{{- define "main" -}}

  {{- with .Content -}}
    {{- . -}}
  {{- end -}}

  {{/* Gets all events */}}
  {{- $events := where $.Site.RegularPages  "Section" "events" -}}

  {{/* Upcoming Events ==================== */}}
  {{/* Gets all $events with a date greater than or equal to today */}}
  {{- $future_events := where $events "Date" "ge" (now.AddDate 0 0 0) -}}
  {{/* Reverses the order of the events, so the next event is at the top */}}
  {{- $future_events := $future_events.Reverse -}}


<main class="events" id="main-content" role="main">

  {{- if $future_events -}}
  <section>
    <div class="grid-container">
      <div class="grid-row grid-gap-4">
        <div class="grid-col-12">
          <h2 class="heading">Upcoming Events</h2>
        </div>
      </div>

      {{/* Paginates the events if there are more than X (set in config.yml) */}}
      <div class="stream">
        {{- range (.Paginate ( $future_events )).Pages -}}
          {{- .Render "card-event" -}}
        {{- end -}}
      </div>

      {{/* ======================== */}}
      {{/* Get the list of sponsors */}}

      {{/* Create an array */}}
      {{- $sponsors := slice -}}
      {{/* Look through all of the events that have sponsors */}}
      {{- range (where $events ".Params.event_sponsor" "!=" nil) -}}

        {{/* Get the sponsor page data and append it to $sponsors */}}
        {{- $sponsors = $sponsors | append ($.Site.GetPage (printf "/%s/%s" "organizations" (index (.Params.event_sponsor) 0))) -}}

      {{- end -}}

      {{/* List out the sponsors */}}
      <div class="grid-row">
        <div class="grid-col-12 tablet:grid-col-10 tablet:grid-offset-1">
          <div class="sponsors">
            <p>{{- ":heart: Our events are sponsored by: " | emojify -}}
            {{- $sponsors := ($sponsors | uniq) -}}
            {{- $len := (len $sponsors) -}}
            {{- range $key, $val := ($sponsors | uniq) -}}
              {{- with $val.Params.name -}}
              {{- if ne $key 0 -}}, {{ end -}}
              {{- if eq (add $key 1) $len }}
                and
              {{ end -}}
              <strong>{{- $val.Params.name -}}</strong>
              {{- end -}}
            {{- end -}}
            </p>
          </div>
        </div>
      </div>


    </div>
  </section>

  {{- end -}}


  {{/* Past Events ==================== */}}
  {{/* Gets all $events with a date less than today */}}
  {{- $past_events := where $events ".Date.Unix" "<" now.Unix -}}

  {{/* Gets only the $past_events with a youtube_id */}}
  {{/* {{- $past_events := where $past_events ".Params.youtube_id" "!=" nil -}} */}}

  {{- if $past_events -}}
  <section class="past_events">
    <div class="grid-container grid-container-widescreen">

      <div class="grid-row">
        <div class="grid-col-12">
          <h2 class="heading">Past Events</h2>
        </div>
      </div>

      <div class="grid-row mobile-lg:grid-gap-2 tablet:grid-gap-4">
        {{- range $past_events -}}
          <div class="grid-col-12 mobile-lg:grid-col-6 tablet-lg:grid-col-4 desktop-lg:grid-col-3">
            {{- .Render "card-event-past" -}}
          </div>
        {{- end -}}
      </div>
    </div>
  </section>
  {{- end -}}

</main>

{{ end }}
