{{- define "main" -}}

  {{- with .Content -}}
    {{- . -}}
  {{- end -}}

  {{/* Gets all events */}}
  {{- $events := where $.Site.RegularPages  "Section" "events" -}}

  {{/* Upcoming Events ==================== */}}
  {{/* Gets all $events with a date greater than or equal to today */}}
  {{- $future_events := where $events "Date" "ge" (now.AddDate 0 0 -1) -}}
  {{/* Reverses the order of the events, so the next event is at the top */}}
  {{- $future_events := $future_events.Reverse -}}


<main class="events" id="main-content" role="main">

  {{- if $future_events -}}
  <section>
    <div class="grid-container">
      <div class="grid-row grid-gap-4">
        <div class="grid-col-12">
          <h2 class="heading">Upcoming Events</h2>
        </div>
      </div>

      {{/* Paginates the events if there are more than X (set in config.yml) */}}
      <div class="stream">
        {{- range (.Paginate ( $future_events )).Pages -}}
          {{- .Render "card-event" -}}
        {{- end -}}
      </div>

      {{/* ======================== */}}
      {{/* Get the list of sponsors */}}

      {{/* Create an array */}}
      {{- $sponsors := slice -}}
      {{/* Look through all of the events that have sponsors */}}
      {{- range (where $events ".Params.event_sponsor" "!=" nil) -}}

        {{/* Get the sponsor page data and append it to $sponsors */}}
        {{- $sponsors = $sponsors | append ($.Site.GetPage (printf "/%s/%s" "organizations" (index (.Params.event_sponsor) 0))) -}}

      {{- end -}}


      {{/* List out the sponsors */}}
      <div class="grid-row">
        <div class="grid-col-12 tablet:grid-col-10 tablet:grid-offset-1">
          <div class="sponsors">
            {{- $sponsor_copy := $.Site.Data.sponsor_copy.sponsored -}}
            {{- $copy := (index ($sponsor_copy | shuffle | first 1) 0) -}}
            <p>
              {{- ":heart: Our events are " | emojify }}
              {{ $copy.phrase }}:
              {{ $sponsors := ($sponsors | uniq) -}}
              {{- $len := (len $sponsors) -}}
              {{- range $key, $val := ($sponsors | uniq) -}}

                {{- if in $val.Params.relationship "donor" -}}
                  {{- with $val.Params.name -}}
                    {{- if ne $key 0 -}}, {{ end -}}
                    {{- if eq (add $key 1) $len }}
                      and
                    {{ end -}}
                    <a href="{{- $val.Params.website -}}?br" title="{{- $val.Params.name -}}"><span>{{- $val.Params.name -}}</span></a>
                  {{- end -}}
                {{- end -}}

              {{- end -}}
            </p>
          </div>
        </div>
      </div>


    </div>
  </section>

  {{- end -}}

  {{- .Render "past-events" -}}

</main>

{{ end }}
