{{- define "main" -}}
{{- $permalink := replace .Permalink "/info.html" "" -}}

<main class="info" id="main-content" role="main">

  <header>
    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-col-12 tablet:grid-col-8 tablet:grid-offset-2">
          <p class="back"><a class="u-primary" href="{{- $permalink -}}"><i class="fas fa-arrow-left"></i>&nbsp;<span>Back to page</span></a></p>

          {{- partial "kicker" . -}}

          <h1>{{- .Title -}}</h1>
          <p class="summary">{{- .Summary | markdownify -}}</p>

        </div>
      </div>
    </div>
  </header>

  <section>
    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-col-12 tablet:grid-col-8 tablet:grid-offset-2">
          <div class="content">
            <h2>YouTube</h2>

            {{- $copy := (print .Summary "\n\n" "View the event page: " $permalink "\n" "Follow us on Instagram: https://www.instagram.com/brooklynrail/") -}}
            {{- highlight $copy html "" -}}

            <h3>Tags</h3>
            <p>Good tags are essential to making our videos more findable in YouTube. We should include tags for</p>
            <ul>
              <li>every person in the event, including alternate names (e.g. Phong Bui)</li>
              <li>every organization mentioned in the event, including shortened names and acronymns (e.g. The Metropolitan Museum of Art, The Met) </li>
              <li>key people or topics discussed in the event (e.g. Jonas Mekas, 20th Century Modernism)</li>
            </ul>

            {{- $tags := "Interview, live conversation, artist, artists, poetry, poetry reading, The Brooklyn Rail, Brooklyn Rail, The New Social Environment, Art, contemporary art" -}}

            {{- highlight $tags html "" -}}

          </div>
        </div>
      </div>
    </div>
  </section>


</main>
{{- end -}}
