// ====================================
// Projects Page

.projects {
  // Projects Page / Header
  article{
    header {
      @include u-text('center');
      @include u-margin-bottom(3);
    }
    nav.nav-project{
      ul{
        @include add-list-reset;
        @include u-margin-top(0);
        @include u-margin-bottom(1);
        @include u-text('center');
        @include at-media('tablet') {
          @include u-margin-y(3);
        }
        li{
          @include u-margin-bottom(1);
          @include u-font('sans', 'md');
          @include u-text('medium');
          @include u-padding-x('105');
          @include u-display('block');
          @include at-media('tablet') {
            @include u-margin-bottom(0);
            @include u-display('inline-block');
          }
          a{
            @include u-text('indigo-warm-70v');
            @include u-text('no-underline');
            &:hover{
              @include u-border-bottom('2px', 'solid', 'indigo-warm-70v');
            }
          }
        }
      }
    }
    .content{
      hr{
        @include u-padding-top('205');
        background-image: url(/material/img/divider.svg);
        background-position: center;
        background-repeat: no-repeat;
        border:none;
      }
    }
  }

  
}
