// Common type elements


.hidden{
  @include u-display('none');
}

// ===========================
// Links with border bottom
// In some cases, it is better to apply `border-bottom` to the button or link vs having it apply the underline

// Example:
// <a class="u-white" href="" title=""><span>Donate</span></a>

// - u-primary (dotted, red-50v)
// - u-primary-dotted
// - u-black
// - u-white
a.u-primary {
  @include u-text('primary', !important);
  @include u-text('no-underline');
  &:hover{
    span{
      @include u-border-bottom('2px', 'solid', 'primary');
    }
  }
}
a.u-primary-dotted {
  @include u-text('primary', !important);
  @include u-text('no-underline');
  &:hover{
    span{
      @include u-border-bottom('2px', 'dotted', 'primary');
    }
  }
}
a.u-black {
  @include u-text('black', !important);
  @include u-text('no-underline');
  &:hover{
    span{
      @include u-border-bottom('2px', 'solid', 'black');
    }
  }
}
a.u-white {
  @include u-text('white', !important);
  @include u-text('no-underline');
  &:hover{
    span{
      @include u-border-bottom('2px', 'solid', 'white');
    }
  }
}


// ===========================
// overlay

a.overlay{
  display:contents;
  @include u-text('no-underline');
  &:hover{
    .hover{
      @include u-text('underline');
    }
  }
}

// ===========================
// Headings

h2{
  a{
    @include u-text('no-underline');
    @include u-text('black');
    &:hover{
      @include u-text('underline');
    }
  }
}



// ===========================
// Rail Buttons
.btn{
  @extend .usa-button;
  @include u-margin(0);
  @include u-padding-y('105');
  @include u-padding-x('05');
  @include u-text('medium');
  @include u-font('sans', 'xs');
  @include u-line-height('sans', 1);
  @include at-media('tablet-lg') {
    @include u-font('sans', 'md');
  }
  &:hover{
    @include u-bg('primary');
  }
}

.btn-xs{
  @extend .btn;
  @include u-margin(0);
  @include u-padding-y('05');
  @include u-padding-x('105');
  @include u-font('sans', 'xs');
}

.btn-sm{
  @extend .btn;
  @include u-margin(0);
  @include u-padding-y(1);
  @include u-padding-x('105');
  @include u-font('sans', 'xs');
}

.btn-md{
  @extend .btn;
  @include u-margin(0);
  @include u-padding-y(1);
  @include u-padding-x(2);
  @include u-font('sans', 'md');
}

.btn-lg{
  @extend .usa-button--big;
  @include u-font('sans', 'sm');
  @include at-media('tablet-lg') {
    @include u-font('sans', 'md');
  }
  @include u-padding-y(2);
  @include u-padding-x('205');
  &:hover{
    @include u-bg('primary');
  }
}


// ===========================
// Rail Section
// This provides a class for page sections in the Rail, that extends the use of .usa-section

section.rail-section{
  @extend .usa-section;
}


// ===========================
// Section
main{
  @include u-padding-y(6);
}


article{
  header{
    @include u-margin-bottom(6);
  }
}

// ===========================
// Section
section{

  .summary{
    @include u-margin(0);
    @include u-margin-bottom(3);
    @include u-font('sans', 'lg');
    @include u-text('light');
    @include u-maxw('tablet');
  }

}


.breadcrumb{
  @include u-margin-top(4);
  @include u-font('sans', 'sm');
  @include at-media('tablet') {
    @include u-font('sans', 'md');
  }
  a{
    @include u-padding-y('05');
    @include u-radius('sm');
  }
}


// ===========================
// Forms
form.rail-form {
  @extend .usa-form;
  @include u-margin-bottom(2);
  fieldset{
    @extend .usa-fieldset;
    // The heading in the form
    legend{
      @extend .usa-legend;
      @include u-margin-bottom(2);
      @include u-font('sans', 'lg');
      @include u-text('thin');
    }
    // Field Group
    .group{
      @include u-display('flex');
      @include u-flex('align-end');
      .field{
        @include u-margin-y(0);
        @include u-margin-right('105');
        &:last-child{
          @include u-margin-right(0);
        }
      }
    }

    // Field
    .field{
      @include u-margin-bottom('205');
      label{
        @extend .usa-label;
        @include u-margin-top(0);
        @include u-margin-bottom('05');
        @include u-font('sans', 'sm');
      }
      input{
        @extend .usa-input;
        @include u-margin(0);
        @include u-padding-y(1);
        @include u-padding-x(1);
        @include u-height(5);
        @include u-font('sans', 'md');
        @include u-line-height('sans', 1);
        @include u-border('1px', 'solid', 'gray-20');
        @include u-radius('sm');
      }
      .prefix{
        @include u-display('flex');
        @include u-flex('align-center');
        span{
          @include u-display('block');
          @include u-padding-y(1);
          @include u-padding-x('05');
          @include u-padding-left(1);
          @include u-height(5);
          @include u-bg('white');
          @include u-font('sans', 'md');
          @include u-line-height('sans', 2);
          @include u-border('1px', 'solid', 'gray-20');
          @include u-border-right(0);
          @include u-radius('sm');
          @include u-height(5);
          white-space: nowrap;
        }
        input{
          @include u-border-left(0);
          @include u-padding-left(0);
        }
      }
    }
  }
}
