// Content

// ===========================
// Content
// extends the use of .usa-prose
.content{
  @extend .usa-prose;

  // ===========================
  // Headings

  // Headline / Title
  h1{
    @include u-display('none');
  }

  h2{
    @include u-margin-top(5);
    @include u-margin-bottom('205');
    @include u-font('sans', 'xl');
    @include u-text('bold');
    a{
      @include u-text('no-underline');
      &:hover{
        @include u-text('underline');
      }
    }
  }

  h3{
    @include u-margin-top(4);
    @include u-margin-bottom('205');
    @include u-font('sans', 'lg');
    @include u-text('bold');
    a{
      @include u-text('no-underline');
      &:hover{
        @include u-text('underline');
      }
    }
  }

  p{
    @include u-margin-top(0);
    @include u-margin-bottom(3);
  }

  ul,ol{
    @include u-padding-left('205');
    li{
      @include u-margin-bottom('105');
      ol,ul{
        @include u-margin-y(1);
        @include u-margin-bottom('105');
        li{
          @include u-margin-bottom(1);
        }
      }
    }
  }
}

// ===========================
// Code
code{
  @include u-padding-x('05');
  @include u-padding-y('1px');
  @include u-bg('base-lightest');
  @include u-font('mono', 'xs');
  @include u-color('red-50');
  @include u-border('1px', 'solid', 'base-lighter');
  @include u-radius(sm);
}

pre {
  @include u-padding-x(3);
  @include u-padding-y(2);
  @include u-padding-right(4);
  @include u-padding-bottom('205');
  @include u-bg('base-lightest');
  @include u-border('1px', 'solid', 'base-lighter');
  @include u-color('indigo-warm-80');
  @include u-radius('md');
  @include u-font('mono', 'xs');
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

hr{
  @include u-margin-top(5, !important);
  @include u-margin-bottom(5);
  @include u-margin-x(0);
  @include u-border(0);
  @include u-border-bottom('2px', 'gray-20', 'dashed');
  clear:both;
}

// ===========================
// Page header content
// Used for the title, kicker, date, etc...
header{
  // Kicker
  .kicker{
    @include u-margin-top(0);
    @include u-margin-bottom('105');
    @include u-text('normal');
    @include u-text('uppercase');
    @include u-text('indigo-warm-60v');
    @include u-font('sans', 'sm');
    @include at-media('mobile-lg') {
      @include u-font('sans', 'md');
    }
    .collection{
      @include u-margin-right('2px');
    }
    .series{
      @include u-margin-left(1);
      @include u-padding-left(1);
      @include u-border-left('1px', 'solid', 'gray-warm-40');
    }
  }

  // Headline / Title
  h1{
    @include u-margin(0);
    @include u-margin-bottom('05');
    @include u-display('block');
    @include u-font('sans', 'xl');
    @include at-media('tablet-lg') {
      @include u-font('sans', '2xl');
    }
  }

  h2{
    @include u-margin(0);
  }

  // Deck
  // extends the use of .usa-intro
  .deck{
    @extend .usa-intro;
    @include u-margin(0);
    @include u-font('sans', 'xl');
    @include u-line-height('sans', 2);
    @include u-text('light');
  }
}
