// Content

// ===========================
// Content
// extends the use of .usa-prose
.content{
  @extend .usa-prose;

  // ===========================
  // Headings

  // Headline / Title
  h1{
    @include u-display('none');
  }

  h2{
    a{
      @include u-text('no-underline');
      @include u-text('black');
      &:hover{
        @include u-text('underline');
      }
    }
  }

  // ===========================
  // Code
  code{
    @include u-padding-x('05');
    @include u-padding-y('1px');
    @include u-bg('base-lightest');
    @include u-font('mono', 'xs');
    @include u-color('red-50');
    @include u-border('1px', 'solid', 'base-lighter');
    @include u-radius(sm);
  }

  pre {
    @include u-padding-x(3);
    @include u-padding-y(2);
    @include u-padding-right(4);
    @include u-padding-bottom('205');
    @include u-bg('base-lightest');
    @include u-border('1px', 'solid', 'base-lighter');
    @include u-color('indigo-warm-80');
    @include u-radius('md');
    @include u-font('mono', 'xs');
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }
}


// ===========================
// Page header content
// Used for the title, kicker, date, etc...
header .content{

  // Headline / Title
  h1{
    @include u-display('block');
  }

  h2{
    @include u-margin(0);
  }

  // Kicker
  .kicker{
    @include u-margin-bottom(1);
    @include u-font('sans', 'xs');
    @include u-text('normal');
    @include u-text('uppercase');
    @include u-text('red-50v');
  }

  // Headline / Title
  h1{
    @include u-margin(0);
  }

  // Deck
  // extends the use of .usa-intro
  .deck{
    @extend .usa-intro;
    @include u-margin(0);
    @include u-font('sans', 'xl');
    @include u-text('light');
  }
}
