// Common event styles

// ====================================
// Events Section page styles
.events{
  section{
    .heading{
      @include u-margin-y(2);
      @include u-font('serif', 'xl');
      @include u-text('thin');
      @include at-media('tablet-lg') {
        @include u-font('serif', '3xl');
      }
    }
  }
  .past_events{
    @include u-margin-top(5);
  }
}

.stream {
  .day{
    @include u-margin-top(5);
    @include u-padding-y('05');
    @include u-border-top('2px', 'solid', 'black');
    @include u-font('sans', 'lg');
    @include u-text('light');
  }
}

// ====================================
// Single Event page styles
.event{

  // Single Event Page / Header
  header {
    @include u-padding-y('205');
    @include at-media('tablet') {
      @include u-padding-y(5);
    }

    .event-details{
      @include u-margin-top(3);
      @include u-font('sans', 'md');
      @include u-text('medium');
      time{
        @include u-margin-right(2);
        @include u-text('medium');
      }
      .event-time{
        @include u-text('thin');
        @include u-margin-top('05');
        @include u-margin-left(3);
        @include u-display('block');
        @include u-font('sans', 'sm');
        span{
          @include u-margin-x('2px');
        }
        @include at-media('tablet') {
          @include u-margin(0);
          @include u-font('sans', 'md');
          @include u-display('inline');
          span{
            @include u-margin-x('05');
          }
        }
      }

      .event_platforms{
        @include u-margin-top(2);
        @include u-display('none');
        p{
          @include u-margin(0);
          @include u-margin-bottom('2px');
          @include u-margin-right('05');
          @include u-padding-y('2px');
          @include u-font('sans', 'sm');
          @include u-text('normal');
          @include u-display('inline-block');
          span{
            i{
              // @include u-text('blue-70v');
            }
          }
        }
      }


    }


    .actions{
      @include u-margin-y(3);
      @include u-display('flex');

      @include u-bg('red-10');
      .register{
        @include u-bg('red-20');
        @include u-margin-right('05');
        flex-basis: 100%;
        @include at-media('mobile-lg') {
          flex-basis: auto;
        }
        .btn-register{
          @include u-text('uppercase');
          @include u-bg('black');
          @include u-bg('black');
          @include u-border('2px', 'solid', 'black');
          @include u-padding-x('105');
          @include at-media('mobile-lg') {
            @include u-padding-x('205');
          }
        }
      }
      .addeventatc{
        @include u-margin-left('05');
        flex-basis: 100%;
        @include at-media('mobile-lg') {
          flex-basis: auto;
        }
        @include u-padding(2);
        @include u-padding-x('105');
        @include at-media('mobile-lg') {
          @include u-padding-x('205');
        }
        @include u-bg('gray-5');
        @include u-radius('sm');
        @include u-text('gray-80');
        @include u-text('medium');
        @include u-text('center');
        @include u-font('sans', 'sm');
        @include u-line-height('sans', 1);
        @include u-border(0);
        @include u-border('2px', 'solid', 'gray-5');
        &:hover{
          @include u-bg('gray-10');
          @include u-border('2px', 'solid', 'gray-10');
          @include u-text('no-underline');
        }
        .atc_node{
          &:hover{
            @include u-text('no-underline');
            @include u-border-bottom('2px', 'solid', 'gray-80');
            span{

            }
          }
        }
      }
    }
    .coming-soon{
      @include u-padding-y('05');
      @include u-padding-x('105');
      @include u-display('inline-block');
      @include u-bg('gold-10v');
      @include u-radius('sm');
      @include u-font('sans', 'md');
      @include u-text('medium');
      span{
        @include u-text('light');
      }
    }
    .featured_image{
      // @include u-width('mobile');
    }
  }

  section{

    .summary{
      @include u-margin(0);
      @include u-padding-y(0);
      strong{
        @include u-text('medium');
      }
      @include at-media('tablet') {
        @include u-padding-y(3);
        @include u-text('thin');
        @include u-font('sans', 'xl');
      }
    }

    .collection{
      @include u-margin-bottom(3);
      @include u-padding(2);
      @include u-text('center');
      @include u-radius('md');
      @include u-border('1px','gray-20','solid');
      @include u-font('sans', 'sm');
      @include u-bg('gray-warm-10');
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d7e6f4+20,fcc5bd+100&0.5+0,0.5+100 */
      background: -moz-linear-gradient(-45deg,  rgba(215,230,244,0.5) 0%, rgba(215,230,244,0.5) 20%, rgba(252,197,189,0.5) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg,  rgba(215,230,244,0.5) 0%,rgba(215,230,244,0.5) 20%,rgba(252,197,189,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg,  rgba(215,230,244,0.5) 0%,rgba(215,230,244,0.5) 20%,rgba(252,197,189,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80d7e6f4', endColorstr='#80fcc5bd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    .content{
      @include u-font('sans', 'md');
    }

    .event-logistics{
      @include u-margin-y(5);
      @include u-padding-y(2);
      @include u-padding-x(2);
      @include u-display('inline-block');
      @include u-radius('sm');
      @include u-bg('gray-3');
      @include u-font('sans', 'sm');
      h2{
        @include u-margin-top(0);
        @include u-font('sans', 'md');
        @include u-text('medium');
      }
      strong{
        @include u-text('medium');
      }
    }
  }
}
