// ====================================
// Events Section page styles
.events{
  section{
    .heading{
      @include u-margin(0);
      @include u-margin-bottom(4);
      @include u-font('serif', 'xl');
      @include u-text('thin');
      @include u-text('center');
      @include at-media('tablet-lg') {
        @include u-font('serif', '3xl');
      }
    }
    .sponsors{
      @include u-padding-y(2);
      @include u-padding-x(1);
      @include u-radius('lg');
      @include u-text('center');
      @include u-text('light');
      @include u-bg('gray-warm-3');
      @include u-font('sans', '2xs');
      @include u-line-height('sans', 3);
      @include at-media('tablet') {
        @include u-padding-x(3);
        @include u-line-height('sans', 3);
        @include u-font('sans', 'sm');
      }
      p{
        @include u-margin-y(0);
        @include u-line-height('sans', 5);
      }
    }
  }
}

.stream {
}

.events{
  section.past_events{
    @include u-margin-top(5);
    @include u-padding-y(5);
    @include u-bg('gray-90');
    .heading{
      @include u-text('white');
    }
  }
}
