.header{
  @include u-padding-y('105');


  .sub-head{
    @include u-margin-y(0);
    @include u-margin-top('05');
    @include u-font('sans', '3xs');
    @include u-text('medium');
    @include u-text('gray-90');
    @include u-text('uppercase');
    font-size: 3.5vw;
    text-rendering: optimizeLegibility;
    .issue{
      @include u-display('none');
    }
    & > .bullet{
      @include u-margin-x(1);
      @include u-display('none');
    }
    & > .bullet ~ .bullet{
      @include u-display('inline');
    }

    @include at-media('mobile-lg') {
      font-size: 2.7vw;
      .issue{
        @include u-display('inline');
      }
      & > .bullet{
        @include u-margin-x(1);
        @include u-display('inline');
      }
  	}

    @include at-media('tablet') {
      @include u-display('flex');
      @include u-flex('justify');
      font-size: 1.8vw;
      span{
        white-space: nowrap;
      }
      .bullet{
      }
  	}
    @include at-media('desktop-lg') {
      @include u-font('sans', 'lg');
      span{
        white-space: nowrap;
      }
    }
  }
}
