// ====================================
// Single donation page

.donate {

  // Single Event Page / Header
  header {
    @include u-text('center');
  }

  @function textShadow($precision, $size, $color){
    $value: null; 
    $offset: 0;
    $length: $size * (1 / $precision) - 1;

    @for $i from 0 through $length {
      $offset: $offset + $precision;
      $shadow: $offset + px $offset + px $color;
      $value: append($value, $shadow, comma);
    }

    @return $value;
  }

  .pagetitle {
    @include u-font('sans', '3xl');
  }

  // Deck
  // extends the use of .usa-intro
  .deck{
    @extend .usa-intro;
    @include u-margin(0);
    @include u-margin-bottom(4);
    @include u-font('sans', 'lg');
    @include u-line-height('sans', 2);
    @include u-text('light');
    @include at-media('tablet-lg') {
      @include u-font('sans', 'xl');
    }
  }
  .blurb{
    @extend .deck;
    @include u-text('center');
    @include u-margin(0);
    @include u-margin-bottom(2);
    // @include u-line-height('sans', 2);
    // @include u-text('light');
    @include u-font('sans', 'md');
    @include at-media('tablet-lg') {
      @include u-font('sans', 'lg');
    }
  }

  #showAddress{
    @include u-font('sans', 'xs');
  }
  .donate-progress{
    @include u-margin-bottom(5);
    .progress-bar{
      @include u-margin-bottom(3);
      @include u-bg('green-cool-10v');
      @include u-radius('pill');
      @include u-width('full');
      @include u-height(4);
      .amt{
        @include u-bg('green-cool-40v');
        @include u-height('full');
        @include u-radius-left('pill');
        @include u-display('flex');
        @include u-flex('justify-end');
        span{
          @include u-width(0);
          @include u-height(0);
          @include u-position('relative');
          right:-16px;
          @include u-display('inline-block');
          border-top: 16px solid transparent;
          border-bottom: 16px solid transparent;
          border-left: 16px solid green;
          @include u-border-left('green-cool-40v');
        }
      }
    }
    .progress-text{
      p{
        @include u-margin-y('105');
        @include u-padding-x('105');
        @include u-font('sans', 'lg');
        @include u-text('normal');
        @include u-text('center');
        span{
          @include u-text('medium');
          @include u-text('green-cool-70v');
          span{
            @include u-border-bottom('green-cool-40v');
          }
        }
      }
    }
  }

  section.past_events {
    @include u-margin-top(5);
    @include u-padding-y(5);
    @include u-bg("gray-90");

    .heading {
      @include u-text("white");
    }
  }

}
