// ====================================
// Single donation page

.donate {

  // Single Event Page / Header
  header {
    @include u-text('center');
  }

  @function textShadow($precision, $size, $color){
    $value: null; 
    $offset: 0;
    $length: $size * (1 / $precision) - 1;

    @for $i from 0 through $length {
      $offset: $offset + $precision;
      $shadow: $offset + px $offset + px $color;
      $value: append($value, $shadow, comma);
    }

    @return $value;
  }

  .pagetitle {
    // color: #5362F6;
    @include u-font('sans', '3xl');
    
    @include u-font('sans', '3xl');
    @include at-media('desktop') {
      font-size:72px;
    }
    @include u-padding-top(3);
    @include u-padding-bottom(4);
    @include u-text('green-cool-70v');
    @include u-bg('green-cool-5v');
    // text-shadow: textShadow(0.25, 6, #70e17b);
    text-shadow: 
    4px 4px 0px #b7f5bd,
    8px 8px 0px #70e17b,
    12px 12px 0px #21c834,
    16px 16px 0px #00a91c;
    // 6px 6px        #e3f5e1, 
    // 5.75px 5.75px  #e3f5e1, 
    // 5.5px 5.5px    #e3f5e1, 
    // 5.25px 5.25px  #e3f5e1,
    // 5px 5px        #b7f5bd, 
    // 4.75px 4.75px  #b7f5bd, 
    // 4.5px 4.5px    #b7f5bd, 
    // 4.25px 4.25px  #b7f5bd,
    // 4px 4px        #70e17b,
    // 3.75px 3.75px  #70e17b,
    // 3.5px 3.5px    #70e17b,
    // 3.25px 3.25px  #70e17b,
    // 3px 3px        #70e17b,
    // 2.75px 2.75px  #70e17b,
    // 2.5px 2.5px    #70e17b,
    // 2.25px 2.25px  #70e17b,
    // 2px 2px        #b7f5bd,
    // 1.75px 1.75px  #b7f5bd,
    // 1.5px 1.5px    #b7f5bd,
    // 1.25px 1.25px  #b7f5bd,
    // 1px 1px        #e3f5e1,
    // 0.75px 0.75px  #e3f5e1,
    // 0.5px 0.5px    #e3f5e1,
    // 0.25px 0.25px  #e3f5e1;
  }

  // Deck
  // extends the use of .usa-intro
  .deck{
    @extend .usa-intro;
    @include u-margin(0);
    @include u-margin-bottom(4);
    @include u-font('sans', 'lg');
    @include u-line-height('sans', 2);
    @include u-text('light');
    @include at-media('tablet-lg') {
      @include u-font('sans', 'xl');
    }
  }
  .blurb{
    @extend .deck;
    @include u-text('center');
    @include u-margin(0);
    @include u-margin-bottom(2);
    // @include u-line-height('sans', 2);
    // @include u-text('light');
    @include u-font('sans', 'md');
    @include at-media('tablet-lg') {
      @include u-font('sans', 'lg');
    }
  }

  #showAddress{
    @include u-font('sans', 'xs');
  }
  .donate-progress{
    @include u-margin-bottom(5);
    .progress-bar{
      @include u-margin-bottom(3);
      @include u-bg('green-cool-10v');
      @include u-radius('pill');
      @include u-width('full');
      @include u-height(4);
      .amt{
        @include u-bg('green-cool-40v');
        @include u-height('full');
        @include u-radius-left('pill');
        @include u-display('flex');
        @include u-flex('justify-end');
        span{
          @include u-width(0);
          @include u-height(0);
          @include u-position('relative');
          right:-16px;
          @include u-display('inline-block');
          border-top: 16px solid transparent;
          border-bottom: 16px solid transparent;
          border-left: 16px solid green;
          @include u-border-left('green-cool-40v');
        }
      }
    }
    .progress-text{
      p{
        @include u-margin-y('105');
        @include u-padding-x('105');
        @include u-font('sans', 'lg');
        @include u-text('normal');
        @include u-text('center');
        span{
          @include u-text('medium');
          @include u-text('green-cool-70v');
          span{
            @include u-border-bottom('green-cool-40v');
          }
        }
      }
    }
  }

  section.past_events {
    @include u-margin-top(5);
    @include u-padding-y(5);
    @include u-bg("gray-90");

    .heading {
      @include u-text("white");
    }
  }

}
