.header{
  @include u-padding-y('105');


  #sub-head{
    @include u-margin-top('05');
    @include u-height(2);
    @include at-media('mobile-lg') {
      @include u-height(3);
    }
    @include at-media('tablet-lg') {
      @include u-margin-top(1);
      @include u-height(4);
    }
    svg{
      @include u-display('block');
      @include u-width('full');
      @include u-height('full');
      // fill: #fff;
      // stroke: #000;
      // stroke-width:2;
      @include at-media('tablet') {
      }
      text{
        @include u-font('sans', 'xl');
        font-size:25.85px;
        @include u-text('medium');
        @include u-text('uppercase');
        @include at-media('mobile-lg') {
          font-size:26.5px;
          @include u-text('normal');
        }
      }
    }
  }

  .sub-head{
    @include u-margin-y(0);
    @include u-margin-top('05');
    @include u-font('sans', '3xs');
    @include u-text('normal');
    @include u-text('gray-90');
    @include u-text('uppercase');
    font-size: 3.5vw;
    text-rendering: optimizeLegibility;
    .issue{
      @include u-display('none');
    }
    & > .bullet{
      @include u-margin-x(1);
      @include u-display('none');
    }
    & > .bullet ~ .bullet{
      @include u-display('inline');
    }

    @include at-media('mobile-lg') {
      font-size: 2.7vw;
      .issue{
        @include u-display('inline');
      }
      & > .bullet{
        @include u-margin-x(1);
        @include u-display('inline');
      }
  	}

    @include at-media('tablet') {
      @include u-display('flex');
      @include u-flex('justify');
      font-size: 2.2vw;
      span{
        white-space: nowrap;
      }
      .bullet{
      }
  	}
    @include at-media('desktop-lg') {
      font-size: 1.6rem;
      span{
        white-space: nowrap;
      }
    }
  }
}

section.past_events {
    @include u-margin-top(5);
    // @include u-padding-y(5);
    @include u-bg("gray-90");

    .heading {
      @include u-text("white");
    }
  }