// ====================================
// Pages styles
.pages{

  nav.page-nav{
    @include u-bg('gray-cool-5');
    @include u-padding(2);
    ul{
      @include add-list-reset;
      li{
        @include u-font('sans', 'sm');
        a{
          @include u-padding-y(1);
          @include u-display('block');
          @include u-text('black');
        }
      }
    }
  }

  .content{
    @include u-font('sans', 'md');
  }

}
