.rail-logo{
  svg{
    @include u-width('full');
    @include u-height('full');
    #brooklynrail-logo{
      fill: #fff;
      stroke: #000;
      stroke-width:3;
      // stroke-linecap:round;
      // stroke-dasharray:1,10;
    }
  }
}
