{{- define "main" -}}

  {{- with .Content -}}
    {{- . -}}
  {{- end -}}


<main class="donate" id="main-content" role="main">

  <section>
    <div class="grid-container">
      <div class="grid-row grid-gap-4">
        <div class="grid-col-12">

          <h2>Donate</h2>

          <form class="usa-form" id="donate-form">
            <fieldset class="usa-fieldset">
              {{/* <legend class="usa-legend">Donate</legend> */}}
              <label class="usa-label" for="title">Amount <span class="usa-hint"></span></label>
              <input class="usa-input" type="number" min="0" placeholder="$25" id="giving-amount" />
              <button class="btn btn-lg" type="button" id="giving-button">Donate</button>
            </fieldset>
          </form>

        </div>
      </div>
    </div>
  </section>
</main>

{{ end }}
