{{ define "main" }}

<main class="page h-event" id="main-content" role="main">

  <div class="grid-container">
    <div class="grid-row grid-gap-4">

      <div class="grid-col-12 tablet:grid-col-3">
        <nav class="page-nav">
          {{- $pages := where $.Site.RegularPages "Section" "pages" -}}
          {{- if $pages -}}
            <ul>
            {{- range $pages -}}

              {{/* Set the link source  */}}
              {{- $source := .Permalink -}}
              {{/* checks to see if there is a defined source URL */}}
              {{- if .Params.source -}}
                {{- $source = .Params.source -}}
              {{- end -}}

              {{- if gt .Weight 0 -}}
                <li><a href="{{- $source -}}" title="{{- .Title -}}">{{- if .Params.nav_title -}}{{- .Params.nav_title -}}{{- else -}}{{- .Title -}}{{- end -}}</a></li>
              {{ end }}

            {{- end -}}
            </ul>
          {{- end -}}
        </nav>
      </div>

      <div class="grid-col-12 tablet:grid-col-9">
        <article>
          <header>
            {{/* Kicker + Collections */}}
            {{- if .Params.collections -}}
              <p class="kicker">
              {{- range $collection := (.GetTerms "collections") -}}
                {{/* Gets the Topics page */}}
                {{- $collection := $.Site.GetPage (printf "/%s/%s" "collections" $collection.Title) -}}
                <span class="collection">{{- $collection.Title -}}</span>
              {{- end -}}
              {{- with .Params.series -}}
                <span class="series"><span>#{{- . -}}</span></span>
              {{- end -}}
              </p>
            {{- end -}}

            <h1>
              {{- if .Params.headline -}}
                {{- .Params.headline | markdownify -}}
              {{- else -}}
              {{- .Params.Title | markdownify -}}
              {{- end -}}
            </h1>

            {{- with .Params.Deck -}}
            <p class="deck">
              {{- . | markdownify -}}
            </p>
            {{- end -}}
          </header>

          <section>
            <div class="grid-row">
              <div class="grid-col-12 tablet:grid-col-10">

                <div class="content">
                  {{- .Content -}}
                </div>

              </div>
            </div>
          </section>

        </article>
      </div>
    </div>
  </div>
</main>
{{ end }}
