{{ define "main" }}

<main class="page h-event" id="main-content" role="main">
  <article>
    <header>
      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-col-12">

            {{/* Kicker + Collections */}}
            {{- if .Params.collections -}}
              <p class="kicker">
              {{- range $collection := (.GetTerms "collections") -}}
                {{/* Gets the Topics page */}}
                {{- $collection := $.Site.GetPage (printf "/%s/%s" "collections" $collection.Title) -}}
                <span class="collection">{{- $collection.Title -}}</span>
              {{- end -}}
              {{- with .Params.series -}}
                <span class="series"><span>#{{- . -}}</span></span>
              {{- end -}}
              </p>
            {{- end -}}

            <h1 class="pagetitle">
              {{- if .Params.headline -}}
                {{- .Params.headline | markdownify -}}
              {{- else -}}
              {{- .Params.Title | markdownify -}}
              {{- end -}}
            </h1>

            {{- with .Params.Deck -}}
            <p class="deck">
              {{- . | markdownify -}}
            </p>
            {{- end -}}

          </div>
        </div>
      </div>
    </header>

    {{/*  {{- partial "donate-progress-bar.html" . -}}  */}}

    <section class="">
      <div class="grid-container grid-container-desktop-lg">
        <div class="grid-row grid-gap-6">
          <div class="grid-col-12 tablet-lg:grid-col-6 tablet-lg:order-last">
            <div class="shortcode-donate shortcode-donate-sm">

              <div class="shortcode-donateProgress">
                {{- with .Params.Blurb -}}
                <p class="blurb">
                  {{- . | markdownify -}}
                </p>
                {{- end -}}
                <div id="countdown"></div>
                <div class="progressBar"><div class="currentAmountSlider"></div></div>
                <div class="progressText">We've raised <span class="currentAmount">$0</span> out of <span>$200,000</span></div>
                <div id="confetti"></div>

              </div>

              <form class="rail-form" id="donate-form">
                <fieldset>
                  
                  <div class="fields">
                    <div class="group donationSelect">
                      <div class="grid-row tablet:grid-gap-2 desktop-lg:grid-gap-4">
                        <div class="grid-col-12 desktop-lg:grid-col-5 desktop-lg:order-last">
                          <div class="field">
                            <div class="options">
                              <button class="amount" data-amount="10.00">$10</button>
                              <button class="amount" data-amount="25.00">$25</button>
                              <button class="amount" data-amount="50.00">$50</button>
                              <button class="amount" data-amount="100.00">$100</button>
                              <button class="amount" data-amount="500.00">$500</button>
                              <button class="amount" data-amount="1000.00">$1,000</button>
                            </div>
                          </div>
                        </div>

                        <div class="grid-col-12 desktop-lg:grid-col-7">
                          <div class="field">
                            <label for="donate-amount">Donate online:</label>
                            <div class="prefix prefix-donate">
                              <span>$</span>
                              <input required type="number" placeholder="100" name="amount" id="donate-amount" pattern="^\d+(?:\.\d{1,2})?$" title="Currency" min="0" value="" min="0" max="50000" />
                            </div>
                            <div class="usa-checkbox transaction-fee-checkbox">
                              <input class="usa-checkbox__input" id="transaction-fee" type="checkbox" name="donation_types" value="" data-fee="">
                              <label class="usa-checkbox__label" for="transaction-fee">
                            Include the <span class="fee">$0.00</span> processing fee</label> 
                            </div>
                            <p id="showAddress">To avoid the processing fees, you can <a class="mail" href="#">mail us a check</a> or <a class="wire" href="#">send us a wire transfer</a></p>
                          </div>
                        </div>
                      </div>
                      <div id="mailAddress" class="grid-row grid-gap-4">
                        <div class="grid-col-12">
                          <pre>The Brooklyn Rail
253 36th Street, 3rd Floor, Suite C304
Brooklyn, NY 11232
Mailbox 20</pre>
                        </div>
                      </div>
                      <div id="wireAddress" class="grid-row grid-gap-4">
                        <div class="grid-col-12">
                          <pre>We'll be happy to send you our wire transfer info. Send an email to donate@brooklynrail.org, or call us at (718) 349-8427.</pre>
                        </div>
                      </div>
                    </div>
                    
                    <input class="hidden" id="transaction-type" type="hidden" name="transaction-type" value="donation">

                    <div class="shareprompt hidden">
                      <h3>Add your name to our list of supporters</h3>
                      <div class="group shareDetails">
                        <div class="grid-row mobile:grid-gap-2 desktop-lg:grid-gap-4">
                          <div class="grid-col-12 mobile:grid-col-6">

                            <div class="field donorName">
                              <label for="donorName">Name</label>
                              <div>
                                <input required placeholder="Your name" name="donorName" id="donorName" pattern="^\d+(?:\.\d{1,2})?$" title="Your Donor name" value=""  />
                                <p class="info">Your name as it will appear in our list of donors.</p>
                              </div>
                            </div>
                          </div>

                          <div class="grid-col-12 mobile:grid-col-6">
                          
                            <div class="field instagramHandle">
                              <label for="instagramHandle">Instagram</label>
                              <div>
                                <div class="prefix prefix-instagram">
                                  <span><img src="/material/img/icons/instagram_gradient.png" class="icon_ig" /></span>
                                  <input required placeholder="@username" name="instagramHandle" id="instagramHandle" pattern="^\d+(?:\.\d{1,2})?$" title="Your Instagram Handle" value=""  />
                                </div>
                                <p class="info">Include your instagram <em>(optional)</em></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="group">
                        <div class="field">
                          <div class="usa-checkbox consent-checkbox">
                            <input class="usa-checkbox__input" id="consent" type="checkbox" name="consent">
                            <label class="usa-checkbox__label" for="consent">Please keep my donation anonymous</label>
                          </div>
                        </div>
                      </div>

                    </div>

                    <div class="group">
                      <div class="field">
                        <div class="btn-helper">
                          <button class="btn btn-md" type="button" id="btn-donate" disabled><span>Donate</span></button>
                        </div>
                      </div>
                    </div>
                    <div class="content terms">
                      <p>☎︎ If you're having issues leaving a donation, or would like to send a check or wire, please email <a
                      href="mailto:donate@brooklynrail.org" title="email the Brooklyn Rail">donate@brooklynrail.org</a> or call us <a
                      href="tel:7183498427" title="call the Brooklyn Rail">(718) 349-8427</a></p>
                    </div>
                    <div class="content terms">
                      <p>The Brooklyn Rail is a nonprofit 501(c)(3) organization. Your donation is fully deductible. Questions? Email <a
                      href="mailto:donate@brooklynrail.org" title="email the Brooklyn Rail">donate@brooklynrail.org</a> ❤️</p>
                    </div>
                  </div>
                </fieldset>
              </form>
              
            </div>


            <div class="shortcode-endowment hidden">
              <div class="content">
                <p class="lead">Join the group of artists and thinkers who are working to keep the <em>Rail</em> independent and free forever through a $10 million endowment.</p>
                <p>To make your one-time large gift of $50,000 or more, please contact Phong Bui at <a href="mailto:phong@brooklynrail.org" title="email Phong Bui">phong@brooklynrail.org</a></p>
                <p class="text-center"><a class="btn btn-sm" href="/endowment">Learn more</a></p>
                
              </div>
            </div>

          </div>

          <div class="grid-col-12 tablet-lg:grid-col-6">
            <div class="content content-body">
              {{- .Content -}}
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="grid-container grid-container-tablet-lg">
        <div class="grid-row">

          <div class="grid-col-12 tablet:grid-col-10 tablet:grid-offset-1">

            {{- if not .Params.deck -}}
            <p class="summary">{{- .Params.summary | markdownify -}}</p>
            {{- end -}}

          </div>
        </div>
      </div>
    </section>


  </article>
</main>
{{ end }}

{{- define "custom_js" }}
  <script src="https://js.stripe.com/v3/"></script>

  {{ $donationData_js := (resources.Get "js/donationData.js" | js.Build "material/dist/donationData.js" | resources.Fingerprint "sha512") -}}
  <script src="{{- $donationData_js.RelPermalink -}}" {{ printf "integrity=%q" $donationData_js.Data.Integrity | safeHTMLAttr }} ></script>
  {{ $donate_js := (resources.Get "js/donate.js" | js.Build "material/dist/donate.js" | resources.Fingerprint "sha512") -}}
  <script src="{{- $donate_js.RelPermalink -}}" {{ printf "integrity=%q" $donate_js.Data.Integrity | safeHTMLAttr }} ></script>
  {{ $donorsList_js := (resources.Get "js/donorsList.js" | js.Build "material/dist/donorsList.js" | resources.Fingerprint "sha512") -}}
  <script src="{{- $donorsList_js.RelPermalink -}}" {{ printf "integrity=%q" $donorsList_js.Data.Integrity | safeHTMLAttr }} ></script>
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>
  {{/* <script src="{{- "material/dist/signup.js" | relURL -}}"></script> */}}
{{- end -}}