{{ define "main" }}

<main class="page h-event" id="main-content" role="main">
  <article>
    <header>
      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-col-12">

            {{/* Kicker + Collections */}}
            {{- if .Params.collections -}}
              <p class="kicker">
              {{- range $collection := (.GetTerms "collections") -}}
                {{/* Gets the Topics page */}}
                {{- $collection := $.Site.GetPage (printf "/%s/%s" "collections" $collection.Title) -}}
                <span class="collection">{{- $collection.Title -}}</span>
              {{- end -}}
              {{- with .Params.series -}}
                <span class="series"><span>#{{- . -}}</span></span>
              {{- end -}}
              </p>
            {{- end -}}

            <h1>
              {{- if .Params.headline -}}
                {{- .Params.headline | markdownify -}}
              {{- else -}}
              {{- .Params.Title | markdownify -}}
              {{- end -}}
            </h1>

            {{- with .Params.Deck -}}
            <p class="deck">
              {{- . | markdownify -}}
            </p>
            {{- end -}}

          </div>
        </div>
      </div>
    </header>

    {{/*  {{- partial "donate-progress-bar.html" . -}}  */}}

    <section>
      <div class="grid-container grid-container-tablet-lg">
        <div class="grid-row">

          <div class="grid-col-12 tablet:grid-col-10 tablet:grid-offset-1">

            {{- if not .Params.deck -}}
            <p class="summary">{{- .Params.summary | markdownify -}}</p>
            {{- end -}}

            <div class="content">
              {{- .Content -}}
            </div>
          </div>
        </div>
      </div>
    </section>

    {{- .Render "past-events" -}}

  </article>
</main>
{{ end }}
