// ====================================
// Donate

.shortcode-donate {
  @include u-bg("gray-cool-5");
  @include u-radius("md");
  @include u-margin-bottom(5);
  @include u-padding-x(2);
  @include u-padding-top("105");
  @include u-padding-bottom(3);
  @include at-media("tablet") {
    @include u-padding-x(3);
    @include u-padding-bottom(3);
  }

  // Buttons for selecting donation amounts
  .options{
    @include u-padding-y(1);
    @include u-width('full');
    @include u-display('flex');
    @include u-flex('wrap');
    justify-content: center;
    @include at-media("tablet-lg") {
      @include u-flex('justify');
      @include u-flex('row');
    }
    gap-x:1em;
    button{
      @include u-margin-bottom(1);
      @include u-padding-x(3);
      @include u-padding-y(2);
      @include u-radius("lg");
      @include u-bg("mint-30v");
      @include u-text("white");
      @include u-text("medium");
      @include u-border(0);
      @include u-cursor("pointer");
      width:49%;
      @include at-media("tablet-lg") {
        @include u-width('auto');
        @include u-flex('justify');
      }
      &:nth-child(odd) {
        @include u-margin-right(1);
        @include at-media("tablet-lg") {
          @include u-margin-right(0);
        }
        
      };
      &:last-child {
        @include u-margin-right(0);
      };
      &:hover {
        @include u-bg("mint-40v");
      }
    }
  }



  .rail-form {
    @include u-maxw("none");
    .transaction-fee-checkbox {
      @include u-bg("transparent");
      label{
        @include u-font("sans", "2xs");
        @include u-line-height("sans", 1);
        span{
          @include u-text("red-60")
          @include u-text("medium")
        }
      }
      label::before {
        @include u-height(2)
        @include u-width(2)
        @include u-top('2px')
      }
    }
  }
  .fields {
    @include u-margin-y(1);
    @include u-width("full");
    @include u-display("block");
    @include at-media("tablet") {
      @include u-display("flex");
    }
    .group {
      &:last-child {
        @include u-margin-left(0);
        @include at-media("tablet") {
          @include u-margin-left(2);
        }
      }
      .field {
        @include u-width("full");
        input {
          @include u-width("card-lg");
        }
        #donate-amount {
          @include u-width("full");
          @include at-media("tablet") {
            @include u-width("mobile");
          }
          @include at-media("tablet") {
            @include u-width("card-lg");
          }
        }

      }
    }
  }
  .helper {
    @include u-font("sans", "xs");
    @include u-text("gold-50v");
  }
  #btn-donate {
    @include u-margin-top(1);
    @include u-line-height("sans", 3);
    @include u-height(5);
    &:hover {
      span {
        @include u-border-bottom("2px", "solid", "white");
      }
    }
    &:disabled {
      @include u-bg("red-30");
    }
  }
  
  .content {
    @include u-margin-top(1);
    @include u-padding-top(2);
    p {
      @include u-margin-bottom(0);
      @include u-font("sans", "3xs");
      @include u-text("base-darker");
      @include at-media("tablet") {
        @include u-font("sans", "2xs");
      }
      a {
        @include u-text("blue-50v");
      }
    }
    pre{
      @include u-padding-y(2);
      @include u-padding-x(2);
      @include u-padding-right(9);
      @include u-radius('lg');
      // @include u-padding(0);
      @include u-bg('white');
      @include u-display('inline-block');
      @include u-font("mono", "2xs");
    }
  }
  .terms{
    @include u-border-top("1px", "solid", "gray-20");
  }
}
