// ====================================
// Donate

.content-body{
  
  @include at-media("tablet") {
    @include u-margin-x(15);
  }
  @include at-media("tablet-lg") {
    @include u-margin-x(0);
  }
}
.shortcode-donate {
  @include u-bg("gray-cool-5");
  @include u-radius("md");
  @include u-margin-bottom(5);
  @include u-padding-x(2);
  @include u-padding-top("205");
  @include u-padding-bottom(3);
  @include at-media("tablet") {
    @include u-margin-x(15);
    @include u-padding-x(3);
    @include u-padding-bottom(3);
  }
  @include at-media("tablet-lg") {
    @include u-margin-x(0);
  }

  // Buttons for selecting donation amounts
  .options{
    @include u-margin-top(0);
    @include u-margin-bottom(0);
    @include u-padding-y(1);
    @include u-width('full');
    @include u-display('flex');
    @include u-flex('wrap');
    @include u-flex('justify');
    @include at-media("tablet-lg") {
      @include u-margin-top(1);
      @include u-flex('justify');
      @include u-flex('row');
    }
    @include at-media("desktop-lg") {
      @include u-margin-top(3);
    }
    button{
      @include u-margin-bottom(1);
      @include u-padding-x('105');
      @include u-padding-y(1);
      @include u-radius("lg");
      @include u-bg("white");
      @include u-text("mint-30v");
      @include u-text("medium");
      @include u-border("2px", "mint-30v", "solid");
      @include u-cursor("pointer");
      width:30%;
      @include u-font("sans", "2xs");
      @include at-media("tablet-lg") {
      }
      @include at-media("desktop-lg") {
        width: 48%;
      }
      
      &:hover {
        @include u-bg("mint-30v");
        @include u-text("white");
      }
    }
  }



  .rail-form {
    @include u-margin(0);
    @include u-maxw("none");
    
  }
  .fields {
    @include u-margin-y(1);
    @include u-width("full");
    @include u-display("block");
    @include at-media("tablet") {
      @include u-display("flex");
      @include u-flex("column");
    }
    .group {
      @include u-display("block");
      // @include u-flex('align-start');
      // @include u-flex('column');
      @include at-media("tablet") {
        // @include u-flex('row');
        // gap:1.5em;
      }
      .field {
        @include u-margin-right(0);
        @include u-width("full");
        label{
          @include u-margin-bottom('105');
          @include u-font("sans", "sm");
        }
        input {
          @include u-width("card-lg");
        }
        .consent-checkbox,
        .transaction-fee-checkbox {
          @include u-margin-top(1);
          @include u-bg("transparent");

          label {
            @include u-margin-y(0);
            @include u-padding-y('05');
            @include u-padding-left(6);
            @include at-media("tablet") {
              @include u-margin-y(0);
            }
            @include u-font("sans", "2xs");
            @include u-line-height("sans", 1);
            text-indent: -1rem;
            a {
              @include u-text('blue-warm-60v');
            }
            .fee {
              @include u-text("red-60") @include u-text("medium")
            }
          }

          label::before {
            @include u-height(2) @include u-width(2) @include u-top('2px')
          }
          #showAddress{
            @include u-margin(0);
            @include u-padding-left(4);
            @include u-font("sans", "2xs");
          }
          
          
        }
        .prefix-donate span{
          @include u-bg("mint-10");
        }
        
        #donate-amount {
          @include u-width("full");
          @include at-media("tablet") {
            @include u-width("full");
          }
        }
        #mailAddress, #wireAddress {
          @include u-display('none');
        }
      }
    }
  }
  #mailAddress, #wireAddress {
    @include u-display('none');
    pre {
      @include u-margin(0);
      @include u-margin-top(1);
      @include u-padding(0);
      @include u-padding-y('105');
      @include u-padding-x('105');
      @include u-padding-right(9);
      @include u-radius('lg');
      @include u-bg('white');
      @include u-width('full');
      @include u-text('base-dark');
      @include u-font("sans", "2xs");
    }
  }
  .shareprompt{
    @include u-margin-top('105');
    @include u-padding-bottom(2);
    @include u-border-top("1px", "solid", "gray-20");
    h3{
      @include u-margin-bottom(2);
      @include u-font("sans", "md");
      @include u-text('normal');
    }

    .shareDetails {
      @include u-margin(0);
      @include u-margin-top(1);
      
      .field{
        @include u-margin-bottom(1);
        @include u-display('flex');
        @include u-flex('justify');
        label{
          @include u-margin-top(1);
          @include u-display('none');
          @include u-font("sans", "xs");
        }
        input{
          @include u-width('full');
        }
      }
      
      .prefix-instagram {
        span {
          @include u-bg("white");
          @include u-padding-y(0);
          @include u-padding-x(1);
          @include u-display('flex');
          @include u-flex('column');
          justify-content: center;

          img {
            @include u-width(4);
          }
        }
      }
    }
    .shareDetails.disabled{
      #donorName,
      #instagramHandle {
        @include u-text('gray-40');
      }
      .prefix-instagram {
        span {
          @include u-bg("transparent");
          img {
            -webkit-filter: grayscale(100%);
            /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
          }
        }
      }
      .info {
        @include u-text("gray-40");
      }
    }
  }
  .helper {
    @include u-font("sans", "xs");
    @include u-text("gold-50v");
  }
  .info {
    @include u-margin(0);
    @include u-padding-x('2px');
    @include u-margin-top('05');
    @include u-font("sans", "2xs");
    @include u-text("gray-60");
  }
  #btn-donate {
    @include u-margin-y(1);
    @include u-line-height("sans", 3);
    @include u-height(5);
    @include u-width('full');
    @include at-media("tablet") {
      @include u-margin-bottom(2);
      
    }
    &:hover {
      span {
        @include u-border-bottom("2px", "solid", "white");
      }
    }
    &:disabled {
      @include u-bg("red-30");
    }
  }
  
  .content {
    @include u-margin-top(0);
    @include u-padding-top(1);
    p {
      @include u-margin-bottom(0);
      @include u-font("sans", "3xs");
      @include u-text("base-darker");
      @include at-media("tablet") {
        @include u-font("sans", "2xs");
      }
      a {
        @include u-text("blue-50v");
      }
    }
    
  }
  .terms{
    @include u-margin-top(1);
    @include u-padding-top(2);
    @include u-border-top("1px", "solid", "gray-20");
  }
}


.content-spending{
  @include u-margin-top(5);
  @include at-media("tablet") {
    @include u-margin-x(15);
    @include u-padding-bottom(3);
  }
  @include at-media("tablet-lg") {
    @include u-margin-x(0);
  }
  h3 {
    @include u-margin-top(1);
    @include u-margin-bottom(2);
    @include u-font("sans", "md");
  }
  ul{
    @include add-list-reset()
    li{
      @include u-font("sans", "xs");
      @include u-padding-y('105');
      @include u-padding-x(2);
      @include u-radius('md');
      @include u-border("1px", "solid", "gray-20");
    }
  }
}

.content-endowment {
  @include u-margin-bottom(5);
  @include u-padding-y(2);
  @include u-radius('md');
  @include u-border("2px", "solid", "red-50v");

  p {
    @include u-margin-y(0);
    @include u-margin-x('auto');
    @include u-padding-y(1);
    @include u-padding-x(3);
    @include u-font("sans", "sm");
    @include u-text('red-50v');
    @include u-text('center');
    @include u-width('mobile-lg');
    a{
      @include u-text('red-50v');
      @include u-text('no-underline');
      @include u-border-bottom("2px", "solid", "red-50v");
    }
  }
  .lead {
    @include u-font("serif", "lg");
    @include u-width('auto');
  }
  .btn{
    @include u-text('white');
  }
}


#donorsList {
  @include u-margin-top(1);
  h2 {
    @include u-margin-top(3);
    @include u-margin-bottom(3);
    @include u-text("center");
    @include u-font("sans", "lg");
  }
  p{
    @include u-margin-top(3);
    @include u-margin-x('auto');
    @include u-font("sans", "xs");
    @include u-text("center");
    @include u-text("gray-cool-60");
    @include u-width('mobile');
  }
  .donorsList {
    @include add-list-reset @include u-font("serif", "md");

    li {
      @include u-margin-bottom(1);
      @include u-maxw(none);
      @include u-text("center");
      @include u-text("medium");

      a {
        @include u-margin-left(1);
        @include u-padding-left(1);
        @include u-text("normal");
        @include u-text("black");
        @include u-text("no-underline");
        @include add-list-reset @include u-font("sans", "md");

        span {
          @include u-margin-top('2px');
          @include u-margin-left('05');
          @include u-text("blue-60v");
          @include u-text("normal");

          &:hover {
            @include u-text("underline");
          }
        }

      }
    }
  }
}