.card-event{
  @include u-margin-y(0);
  @include u-padding-y(4);
  @include at-media('tablet-lg') {
    @include u-padding-y(3);
  }
  @include u-border-top('1px','gray-40', 'dotted');

  header {
    @include u-padding-y(0);

    .event-details{
      @include u-margin-y('105');
      @include u-font('sans', '2xs');
      @include u-text('medium');
      @include at-media('tablet-lg') {
        @include u-margin(0);
        @include u-font('sans', 'sm');
      }
      time{
        @include u-margin-right(0);
      }

      .event-time{
        @include u-margin(0);
        @include u-margin-top('05');
        @include u-margin-x('1px');
        @include u-display('block');
        @include u-text('light');
        @include u-font('sans', '2xs');
        @include u-line-height('sans', 2);
        @include at-media('tablet-lg') {
          @include u-font('sans', 'xs');
        }

        .divider{
          @include u-display('inline');
          @include at-media('tablet-lg') {
            // @include u-display('none');
          }
        }
      }

      .event_platforms{
        @include u-margin-top(1);
        @include at-media('tablet-lg') {
          @include u-margin-top('105');
        }
        @include u-text('normal');
        @include u-font('sans', '2xs');
        p{
          @include u-margin-y(0);
          @include u-text('gray-70');
          img{
            @include u-position('relative');
            @include u-top('1px');
            @include u-width('105');
          }
        }
      }

    }


    .kicker{
      @include u-margin-bottom('05');
      @include u-font('sans', '2xs');
      @include at-media('tablet-lg') {
        @include u-font('sans', 'xs');
      }
    }

    h2{
      @include u-margin(0);
      @include u-text('medium');
      @include u-font('sans', 'lg');
      @include u-line-height('sans', 2);
      strong{
        @include u-text('medium');
      }
    }

    .deck{
      @include u-font('sans', 'lg');
    }

    .sponsor{
      @include u-margin(0);
      @include u-margin-top(1);
      @include u-font('sans', '2xs');
      @include u-text('thin');
      @include u-text('italic');
      @include u-text('gray-60');
      @include at-media('tablet-lg') {
        @include u-font('sans', '2xs');
      }
    }


    .actions{
      @include u-margin-top(1);
      @include at-media('desktop-lg') {
        @include u-padding-left(3);
      }
      @include u-display('flex');
      @include u-flex('justify-start');
      @include at-media('tablet-lg') {
        @include u-display('block');
      }
      .register{
        @include u-margin-right(1);
        @include at-media('tablet-lg') {
          @include u-margin-right(0);
        }
        .btn-register{
          @include u-bg('white');
          @include u-text('indigo-warm-70v');
          @include u-border('2px', 'solid', 'indigo-warm-70v');
          @include at-media('tablet-lg') {
            @include u-width('full');
          }
        }
      }
      .addeventatc{
        @extend .btn;
        @include u-margin(0);
        @include u-padding-y(1);
        @include u-padding-x('105');
        @include u-font('sans', 'xs');
        @include u-bg('gray-5');
        @include u-radius('sm');
        @include u-text('gray-80');
        @include u-border('2px', 'solid', 'gray-5');
        @include u-width('auto');
        @include at-media('tablet-lg') {
          @include u-margin-top(1);
          @include u-width('full');
        }
        &:hover{
          @include u-bg('gray-10');
          @include u-text('gray-80');
          @include u-border('2px', 'solid', 'gray-10');
          @include u-text('no-underline');
        }
        .atc_node{
          &:hover{
            @include u-text('no-underline');
            @include u-border-bottom('2px', 'solid', 'gray-80');
          }
        }
      }
    }

  }

  &:first-child{
    @include u-border-top(0);
  }
}
