.card-event-past{
  @extend .event;


  // Background Gradient — for when there's no image
  @include u-bg('gray-warm-10');
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f5f6f7+50,fde0db+100 */
  background: #f5f6f7; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #f5f6f7 50%, #fde0db 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #f5f6f7 50%,#fde0db 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #f5f6f7 50%,#fde0db 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f7', endColorstr='#fde0db',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */








  @include u-margin(0);
  @include u-margin-bottom(4);
  @include u-position('relative');
  @include u-minh('mobile-lg');
  @include at-media('tablet-lg') {
    @include u-minh('mobile-lg');
  }
  @include u-display('flex');
  @include u-flex('row');
  @include u-flex('align-end');
  @include u-z(0);


  header {
    @include u-bg('gray-warm-90');
    @include u-minh('card');
    @include u-z(100);
    @include u-width('full');
    @include u-padding('105');
    @include at-media('tablet-lg') {
      @include u-padding('105');
    }
    .content{
      @include u-padding-y(0);
      @include u-text('white');

      .kicker{
        @include u-font('sans', 'xs');
        @include at-media('tablet-lg') {
          @include u-font('sans', '2xs');
        }
      }

      h2{
        @include u-font('sans', 'lg');
        @include u-text('thin');
      }
      .deck{
        @include u-font('sans', 'lg');
      }
      .event-details{
        @include u-margin-top(2);
        @include u-font('sans', '2xs');
        time{
          @include u-text('thin');
        }
      }
      .actions{
        .btn-event{
          @include u-bg('white');
          @include u-border('2px', 'solid', 'blue-warm-80v');
          @include u-text('blue-warm-80v');
        }
      }
    }
  }
  &:first-child{
    // @include u-margin-top(0);
    @include u-border-top(0);
  }

  .card_cover{
    @include u-position('absolute');
    @include u-top(0);
    @include u-left(0);
    @include u-height('full');
    @include u-width('full');
    @include u-z('bottom');
  }
  .card_cover_img{
    @include u-position('relative');
    @include u-height('full');
    @include u-width('full');
    overflow: hidden;
    img{
      object-fit: cover;
      @include u-height('full');
      @include u-width('full');
    }
  }
}
