{{/* ==========================
DATE Variables
The following variables transform dates and times for the event `start_date` and `end_date` and set them for use in the event page. */}}

{{- $start_date := .Date -}}
{{- $end_date := (time .Params.end_date) -}}

<section class="card-event-past h-event">
  <a class="overlay" href="{{ .RelPermalink }}" title="{{- .Title -}}">
  <header>

    <div class="content">

      {{- with .Params.kicker -}}
      <p class="kicker">
        {{- . -}}
      </p>
      {{- end -}}

      {{- if .Params.Title -}}
      <h2 class="p-name hover">
        {{- .Title | markdownify -}}
      </h2>
      {{- end -}}

      {{- with .Params.Deck -}}
      <p class="deck">
        {{- . | markdownify -}}
      </p>
      {{- end -}}

      {{- if .Date -}}
      <div class="event-details">
        {{/* Start Date */}}
        <time class="dt-start" datetime="{{- dateFormat "2006-01-02T15:04:05Z07:00" (time $start_date) -}}">{{- dateFormat "Monday, January 2" (time $start_date) -}}</time>
      </div>
      {{- end -}}
    </div>
  </header>

  {{/* Featured Image */}}
  <div class="card_cover">
    {{- $featured_images := .Params.featured_images -}}
    {{- if $featured_images -}}

      {{- range $media := first 1 $featured_images -}}
      <div class="card_cover_img">
        {{- if $media -}}
          {{- $thisimg :=  index $.Site.Data.media ($media.media | lower) -}}
          <img src="{{- $thisimg.media | absURL -}}" alt="">
        {{- end -}}
      </div>
      {{- end -}}

    {{- else -}}

      {{- if .Params.youtube_id -}}
      <div class="card_cover_img youtube-player" data-id="{{- .Params.youtube_id -}}" data-link="{{- .Permalink -}}"></div>
      {{- end -}}

    {{- end -}}
  </div>
  </a>
</section>
