{{/* ==========================
DATE Variables
The following variables transform dates and times for the event `start_date` and `end_date` and set them for use in the event page. */}}

{{- $start_date := .Date -}}
{{- $end_date := (time .Params.end_date) -}}

<section class="card-event h-event">
  <header>
    <div class="grid-row grid-gap-4">

      <div class="grid-col-12 tablet:grid-col-7 tablet:order-2">

        <div class="content">

          {{- with .Params.kicker -}}
          <p class="kicker">
            {{- . -}}
          </p>
          {{- end -}}

          {{- if .Params.Title -}}
          <h2 class="p-name">
            <a href="{{ .RelPermalink }}" title="{{- .Title -}}">{{- .Title | markdownify -}}</a>
          </h2>
          {{- end -}}

          {{- with .Params.Deck -}}
          <p class="deck">
            {{- . | markdownify -}}
          </p>
          {{- end -}}

          {{- with .Params.Summary -}}
          <div class="summary content">
            <p>{{- . | markdownify -}}</p>
          </div>
          {{- end -}}

        </div>

      </div>

      <div class="grid-col-12 tablet:grid-col-2 tablet:order-1">
        <div class="content">

          {{- if .Date -}}
          <div class="event-date">
            {{/* Start Date */}}
            <time class="dt-start" datetime="{{- dateFormat "2006-01-02T15:04:05Z07:00" (time $start_date) -}}">{{- dateFormat "Monday, January 2" (time $start_date) -}}</time>

            {{/* Hidden: This completes the `dt-end` value for the `h-event` microformat */}}
            <span class="hidden"> to <time class="dt-end" datetime="{{- dateFormat "2006-01-02T15:04:05Z07:00" (time $end_date) -}}">{{- dateFormat "Monday, January 2, 2006" (time $end_date) -}}</time></span>

            <p class="event-time">
              {{- dateFormat "3:04" (time $start_date) }}&nbsp;
              {{- $event_start_time_suffix := dateFormat "PM" (time $start_date) -}}
              {{- $event_start_time_suffix := replace $event_start_time_suffix "PM" "p.m." -}}
              {{- $event_start_time_suffix := replace $event_start_time_suffix "AM" "a.m." -}}
              {{- $event_start_time_suffix -}}&nbsp;Eastern<br/>
              {{- $event_start_time_suffix_pt := dateFormat "PM" ((time $start_date).Add ( -3 | duration "hour" )) -}}
              {{- $event_start_time_suffix_pt := replace $event_start_time_suffix_pt "PM" "p.m." -}}
              {{- $event_start_time_suffix_pt := replace $event_start_time_suffix_pt "AM" "a.m." -}}
              {{ dateFormat "3:04" ((time $start_date).Add ( -3 | duration "hour" )) -}}&nbsp;{{- $event_start_time_suffix_pt -}}&nbsp;Pacific</p>
          </div>
          {{- end -}}

          {{/* location */}}
          {{- $event_platforms := .Params.event_platform -}}
          {{- if $event_platforms -}}
            <p class="location p-location">
            {{- range $key, $event_platform := $event_platforms -}}
              {{- if ne $key 0 }}, {{ end }}<strong>{{ index $.Site.Data.event_platforms $event_platform }}</strong>
            {{- end -}}
            </p>
          {{- end -}}

        </div>
      </div>

      <div class="grid-col-12 tablet:grid-col-2 tablet:order-3">
        <div class="actions">
        {{- with .Params.registration_url -}}
          {{/* Registration button */}}
          <a class="u-white" href="{{- . -}}" title="Register"><button class="btn btn btn-register" type="button" name="register"><span>Register</span></button></a>
        {{ end }}
        </div>
      </div>

    </div>
  </header>

</section>
