{{/* ==========================
DATE Variables
The following variables transform dates and times for the event `start_date` and `end_date` and set them for use in the event page. */}}

{{- $start_date := .Date -}}
{{- $end_date := (time .Params.end_date) -}}

<section class="card-event-past h-event">
  <a class="overlay" href="{{ .RelPermalink }}" title="{{- .Title -}}">

    {{/* Featured Image */}}
    <div class="card_cover">
      {{- if .Params.youtube_id -}}
      <div class="card_cover_img youtube-card" data-id="{{- .Params.youtube_id -}}" data-link="{{- .Permalink -}}"></div>
      {{- end -}}
    </div>

    <header>

    <div class="content">

      {{/* {{- $collections_taxonomy := .Param "colllections" -}} */}}
      {{/* {{- $all_collections := index $.Site.Pages.colllections .Params.collections -}} */}}
      {{/* {{ $collections_taxonomy }} */}}


      {{- if .Params.collections -}}
        <p class="kicker">
        {{- range $collection := (.GetTerms "collections") -}}
          {{/* Gets the Topics page */}}
          {{- $collection := $.Site.GetPage (printf "/%s/%s" "collections" $collection.Title) -}}
          {{- $collection.Title -}}
        {{- end -}}
        </p>
      {{- end -}}

      {{- if .Params.Title -}}
      <h2 class="p-name hover">
        {{- .Title | markdownify -}}
      </h2>
      {{- end -}}

      {{- if .Date -}}
      <div class="event-details">
        {{/* Start Date */}}
        <time class="dt-start" datetime="{{- dateFormat "2006-01-02T15:04:05Z07:00" (time $start_date) -}}">{{- dateFormat "Monday, January 2" (time $start_date) -}}</time>
      </div>
      {{- end -}}
    </div>
  </header>


  </a>
</section>
