{{- define "main" -}}

  {{- with .Content -}}
    {{- . -}}
  {{- end -}}

  {{/* Gets all events */}}
  {{- $events := where $.Site.RegularPages  "Section" "events-beta" -}}

  {{/* Upcoming Events ==================== */}}
  {{/* Gets all $events with a date greater than or equal to today */}}
  {{- $future_events := where $events "Date" "ge" (now.AddDate 0 0 0) -}}
  {{/* Reverses the order of the events, so the next event is at the top */}}
  {{- $future_events := $future_events.Reverse -}}

  {{- if $future_events -}}
  <div class="grid-container">
    <div class="grid-row grid-gap-4">
      <div class="grid-col-12">

        <h2>Upcoming Events</h2>
        {{/* Paginates the events if there are more than X (set in config.yml) */}}
        <div class="stream content">
          {{- range (.Paginate ( $future_events )).Pages -}}
            {{- .Render "card-event" -}}
          {{- end -}}
        </div>

      </div>
    </div>
  </div>

  {{- end -}}


  {{/* Past Events ==================== */}}
  {{/* Gets all $events with a date less than today */}}
  {{- $past_events := where $events ".Date.Unix" "<" now.Unix -}}

  {{- if $past_events -}}

  <div class="grid-container">

    <div class="grid-row">
      <div class="grid-col-12">
        <h2>Past Events</h2>
      </div>
    </div>

    <div class="grid-row mobile-lg:grid-gap-2 tablet:grid-gap-4 desktop:grid-gap-6">
      {{- range $past_events -}}
        <div class="grid-col-12 mobile-lg:grid-col-6 tablet-lg:grid-col-4">
          {{- .Render "card-event-past" -}}
        </div>
      {{- end -}}
    </div>
  </div>
  {{- end -}}

{{ end }}
