{{ define "main" }}
<div class="grid-container">
  <div class="grid-row grid-gap-4">
    <div class="grid-col-12">

      {{ .Content }}

      {{/* Future Events ===========================  */}}
      {{- $events := where $.Site.RegularPages.Reverse  "Section" "events-beta" -}}

      {{/* gets the # of news items to display from the config.yml */}}
      {{- $events_count := .Site.Params.events_count -}}

      {{ $paginator := .Paginate ($events) }}
      <div class="stream content">
        {{ range $paginator.Pages }}
          {{- .Render "card-event" -}}
        {{ end }}
      </div>

    </div>
  </div>
</div>

{{ end }}
