{{/* ==========================
DATE Variables
The following variables transform dates and times for the event `start_date` and `end_date` and set them for use in the event page. */}}

<section class="card-person">
  <header>

    <div class="grid-row grid-gap-2">

      <div class="grid-col-12 tablet-lg:grid-col-5 tablet-lg:order-2">
        <h2 class="p-name">
          <a href="{{ .Permalink | relURL }}" title="{{- .Params.Name -}}">{{- .Params.Name | markdownify -}}</a>
        </h2>
      </div>

      <div class="grid-col-12 tablet-lg:grid-col-4 tablet-lg:order-last">
        <code>{{- .File.BaseFileName -}}</code>
      </div>
    </div>
  </header>
</section>
