{{- define "main" -}}

{{- with .Content -}}
  {{- . -}}
{{- end -}}

{{/* Gets all people */}}
{{- $people := where $.Site.RegularPages  "Section" "people" -}}
{{- $length := (len $people) -}}
<main class="people" id="main-content" role="main">

  {{- if $people -}}
  <section>
    <div class="grid-container">
      <div class="grid-row grid-gap-4">
        <div class="grid-col-12">
          <h2 class="heading">People</h2>
          <div class="content">
            <p>A list of the {{ $length | lang.FormatNumber 0 }} people who have participated in the <em>Brooklyn Rail's</em> New Social Environment since March 2020.</p>
          </div>
        </div>
      </div>


      <div class="stream">
        {{ range $people }}
          {{- .Render "card-person" -}}
        {{- end -}}
      </div>

    </div>
  </section>

  {{- end -}}

</main>

{{ end }}
