{{ define "styles" }}
  {{- printf "material/dist/%s/styles.css" .Type | relURL -}}
{{ end }}

{{ define "header" }}
  {{- .Render "header" -}}
{{ end }}


{{ define "main" }}

<main class="page h-event" id="main-content" role="main">
  <article>

    {{- if .Page.Params.nav.project -}}
    <nav class="nav nav-project">
      <div class="grid-container grid-container-desktop">
        <div class="grid-row">
          <div class="grid-col-12">
            <ul>
              {{ range $i, $nav := .Page.Params.nav.project -}}
                <li>
                  <a href="{{- $nav.url -}}" title="{{- $nav.name -}}">{{- $nav.name -}}</a>
                </li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </nav>
    {{- end -}}

    <header>
      <div class="grid-container grid-container-desktop">
        <div class="grid-row">
          <div class="grid-col-12">

            <h1 class="display-none">
              {{- if .Params.headline -}}
                {{- .Params.headline | markdownify -}}
              {{- else -}}
              {{- .Params.Title | markdownify -}}
              {{- end -}}
            </h1>

            {{- with .Params.Deck -}}
            <p class="deck">
              {{- . | markdownify -}}
            </p>
            {{- end -}}

          </div>
        </div>
      </div>
    </header>

    <section class="all-people">
      <div class="grid-container grid-container-desktop">
        <div class="grid-row">

          <div class="grid-col-12 tablet:grid-col-10 tablet:grid-offset-1">

            {{- if not .Params.deck -}}
            <p class="summary">{{- .Params.summary | markdownify -}}</p>
            {{- end -}}

            {{- with .Content -}}
            <div class="content">
              {{- . -}}
            </div>
            {{- end -}}
          </div>
        </div>


        <!-- create a list with all uppercase letters -->
        {{ $letters := split "ABCDEFGHIJKLMNOPQRSTUVWXYZ" "" }}

        <div class="grid-row">
          <div class="grid-col-12">
            <div class="letters">
              {{- range $letters -}}
                <a href="#letter_{{ . }}" title="Go to letter {{ . }}">{{ . }}</a>
              {{- end -}}
            </div>
          </div>
        </div>

        <div class="grid-row grid-gap-3">


          {{/* Gets the data from the file in /data */}}
          {{- $wti_data := $.Site.Data.wti -}}

          {{/* Loops over each item in the data */}}
          {{- range $i, $person := sort $wti_data "last_name" -}}

            <!-- get the first character of each title. Assumes that the title is never empty! -->
            {{ $firstChar := substr $person.last_name 0 1 | upper }}

            <!-- in case $firstChar is a letter -->
            {{ if $firstChar | in $letters }}
              <!-- get the current letter -->
              {{ $curLetter := $.Scratch.Get "curLetter" }}
              <!-- if $curLetter isn't set or the letter has changed -->
              {{ if ne $firstChar $curLetter }}
              <!-- update the current letter and print it -->
                {{ $.Scratch.Set "curLetter" $firstChar }}

                <div class="grid-col-12 tablet:grid-col-3">
                  <div class="letter" id="letter_{{- $firstChar -}}">
                    <a href="#letter_{{- $firstChar -}}">{{- $firstChar -}}</a>
                  </div>
                </div>

              {{ end }}
            {{ end }}



            {{- if $person.wikipedia_url -}}

              {{/* Builds the query */}}
              {{- $wikipedia_api := (printf "%s%s%s" "https://en.wikipedia.org/w/api.php?action=query&formatversion=2&titles=" (replace $person.wikipedia_url "https://en.wikipedia.org/wiki/" "" | markdownify) "&prop=pageimages|pageterms&piprop=name&format=json" ) -}}

              {{/*
                Gets the data from the Wikipedia API:
                - filename
                - person's name
                - description

                Example query
                https://en.wikipedia.org/w/api.php?action=query&formatversion=2&titles=Chantal_Akerman&prop=pageimages|pageterms&piprop=name&format=json
              */}}

              {{/* NOTE: Not all of the Wikipedia pages have top images! But the ones that do have been downloaded and put into /content/projects/we-the-immigrants. */}}

              {{- with getJSON $wikipedia_api -}}
                {{- $pages := .query.pages -}}
                {{- range $i, $page := $pages -}}

                  {{/* If there is a filename in the Wikipedia API... */}}
                  {{- if $page.pageimage -}}
                    {{/* See the bottom of this file for the template */}}
                    {{/* {{ (print "people/" $page.pageimage) }} */}}
                    {{- with $.Resources.Match (print "" $page.pageimage) -}}
                      {{- range . -}}
                        {{- template "wti_person" (dict "image" .RelPermalink "size" "sm" "format" "square" "person" $person "url" $person.wikipedia_url ) -}}
                      {{- end -}}
                    {{- end -}}


                  {{/* There is no filename in Wikipedia page (via the API), it probably means that there is not a top photo on the page. So we're going to check to see if there is an airtable image to use */}}
                  {{/* {{- else if $person.headshot -}}

                    {{- template "wti_person" (dict "image" $person.headshot "size" "sm" "format" "square" "person" $person "url" $person.wikipedia_url ) -}} */}}

                  {{- end -}}

                {{- end -}}
              {{- end -}}
            {{- end  -}}


          {{- end -}}
        </div>

        {{/* {{- .Render "wikipedia_data" -}} */}}


      </div>
    </section>

  </article>
</main>
{{ end }}



{{/* Template: wti_person ============================ */}}
{{- define "wti_person" -}}

  {{- $size := .size -}}
  {{- $image := .image -}}
  {{- $format := .format -}}
  {{- $person := .person -}}
  {{- $url := .url -}}

  <div class="grid-col-12 tablet:grid-col-3">
    <div class="person">
      {{- template "media" (dict "image" $image "size" "md" "format" "square" "type" "string" ) -}}
      <p>
        {{- if $url -}}
          <a href="{{- $url -}}" title="{{- $person.first_name }} {{ $person.last_name -}}">{{- $person.first_name }} {{ $person.last_name -}}</a>
        {{- else -}}
          {{- $person.first_name }} {{ $person.last_name -}}
        {{- end -}}
        <br/>{{- $person.origin }}
        <br/>{{- $person.born_year }}
      </p>
    </div>
  </div>

{{- end -}}

{{ define "scripts" }}
  {{- .Render "scripts" -}}
{{ end }}
