{{ define "styles" }}
  {{- printf "material/dist/%s/styles.css" .Type | relURL -}}
{{ end }}

{{ define "header" }}
  {{- .Render "header" -}}
{{ end }}


{{ define "main" }}

<main class="page h-event" id="main-content" role="main">
  <article>

    {{- if .Page.Params.nav.project -}}
    <nav class="nav nav-project">
      <div class="grid-container grid-container-desktop">
        <div class="grid-row">
          <div class="grid-col-12">
            <ul>
              {{ range $i, $nav := .Page.Params.nav.project -}}
                <li>
                  <a href="{{- $nav.url -}}" title="{{- $nav.name -}}">{{- $nav.name -}}</a>
                </li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </nav>
    {{- end -}}

    <header>
      <div class="grid-container grid-container-desktop">
        <div class="grid-row">
          <div class="grid-col-12">

            <h1 class="display-none">
              {{- if .Params.headline -}}
                {{- .Params.headline | markdownify -}}
              {{- else -}}
              {{- .Params.Title | markdownify -}}
              {{- end -}}
            </h1>

            {{- with .Params.Deck -}}
            <div class="deck">
              {{- . | markdownify -}}
            </div>
            {{- end -}}

          </div>
        </div>
      </div>
    </header>

    <section class="all-people">
      <div class="grid-container grid-container-desktop">
        <div class="grid-row">

          <div class="grid-col-12">

            {{- if not .Params.deck -}}
            <p class="summary">{{- .Params.summary | markdownify -}}</p>
            {{- end -}}

            {{- with .Content -}}
            <div class="content">
              {{- . -}}
            </div>
            {{- end -}}
          </div>
        </div>


        <!-- create a list with all uppercase letters -->
        {{ $letters := split "ABCDEFGHIJKLMNOPQRSTUVWXYZ" "" }}

        <div class="grid-row">
          <div class="grid-col-12">
            <div class="letters">
              {{- range $letters -}}
                <a href="#letter_{{ . }}" title="Go to letter {{ . }}">{{ . }}</a>
              {{- end -}}
            </div>
          </div>
        </div>

        <div class="grid-row grid-gap-3">


          {{/* Gets the data from the file in /data */}}
          {{- $wti_data := $.Site.Data.wti_data -}}

          {{/* Loops over each item in the data */}}
          {{- range $i, $person := sort $wti_data "last_name" -}}

            <!-- get the first character of each title. Assumes that the title is never empty! -->
            {{ $firstChar := substr $person.last_name 0 1 | upper }}

            <!-- in case $firstChar is a letter -->
            {{ if $firstChar | in $letters }}
              <!-- get the current letter -->
              {{ $curLetter := $.Scratch.Get "curLetter" }}
              <!-- if $curLetter isn't set or the letter has changed -->
              {{ if ne $firstChar $curLetter }}
              <!-- update the current letter and print it -->
                {{ $.Scratch.Set "curLetter" $firstChar }}

                <div class="grid-col-12 tablet:grid-col-3">
                  <div class="letter" id="letter_{{- $firstChar -}}">
                    <a href="#letter_{{- $firstChar -}}">{{- $firstChar -}}</a>
                  </div>
                </div>

              {{ end }}
            {{ end }}

            {{ $filename := "" }}
            {{- if $person.filename -}}
              {{- $filename = (print "" $person.filename) -}}
            {{- else -}}
              {{ $last_name := replace $person.last_name "''" "_" }}
              {{ $last_name = replace $last_name " " "_" }}
              {{ $last_name = replaceRE "[*,.']" "" $last_name }}
              {{ $first_name := replace $person.first_name " " "_" }}
              {{ $first_name = replaceRE "[*()]" "" $first_name }}
              {{- $filename = printf "%s_%s%s" $first_name $last_name ".jpg" -}}

            {{- end -}}

            {{- with $.Resources.Match $filename -}}
              {{- range . -}}
                {{- template "wti_person" (dict "image" .RelPermalink "size" "sm" "format" "square" "person" $person "url" $person.wikipedia_url ) -}}
              {{- end -}}
            {{- end -}}




          {{- end -}}
        </div>

        {{/* {{- .Render "wikipedia_data" -}} */}}


      </div>
    </section>

  </article>
</main>
{{ end }}



{{/* Template: wti_person ============================ */}}
{{- define "wti_person" -}}

  {{- $size := .size -}}
  {{- $image := .image -}}
  {{- $format := .format -}}
  {{- $person := .person -}}
  {{- $url := .url -}}

  <div class="grid-col-12 tablet:grid-col-3">
    <div class="person">
      {{- template "media" (dict "image" $image "size" "md" "format" "square" "type" "string" ) -}}
      <p>
        {{- if $url -}}
          <a href="{{- $url -}}" title="{{- $person.first_name }} {{ $person.last_name -}}">{{- $person.first_name }} {{ $person.last_name -}}</a>
        {{- else -}}
          {{- $person.first_name }} {{ $person.last_name -}}
        {{- end -}}
        <br/>{{- $person.origin }}
        <br/>{{- $person.born_year }}
      </p>
    </div>
  </div>

{{- end -}}

{{ define "scripts" }}
  {{- .Render "scripts" -}}
{{ end }}
