<div class="grid-row">

  <div class="grid-col-12">

      {{/*
      1. Get the CSV from Airtable (Web Data)
      1. Rename the file to data.csv
      1. Drop it in /static/projects/we-the-immigrants/

      0 – First name
      1 – Last name
      2 – Wikipedia URL
      3 – Birth Year
      4 – Place of Origin
      */}}


      <div class="grid-row grid-gap-3">


      {{- $wti_data := $.Site.Data.wti -}}

      {{- range $i, $person := $wti_data -}}



        {{/*
          Via:
            - https://stackoverflow.com/questions/8363531/accessing-main-picture-of-wikipedia-page-by-api/30479241
            - https://www.mediawiki.org/wiki/API:Page_info_in_search_results

            Example: https://en.wikipedia.org/w/api.php?action=query&formatversion=2&titles=Albert_Einstein&prop=pageimages|pageterms&pilicense=free&pithumbsize=400&format=json

            Example: https://en.wikipedia.org/w/api.php?action=query&formatversion=2&titles=Albert_Einstein&prop=pageimages|pageterms&pilicense=free&piprop=original&format=json

        */}}


        {{- $wikipedia_api := (printf "%s%s%s" "https://en.wikipedia.org/w/api.php?action=query&formatversion=2&titles=" (replace $person.wikipedia_url "https://en.wikipedia.org/wiki/" "" | markdownify) "&prop=pageimages|pageterms&pilicense=free&piprop=original&format=json" ) -}}
        {{- with getJSON $wikipedia_api -}}
          {{- $pages := .query.pages -}}

          {{- range $i, $page := $pages -}}
            {{- if $page.original.source -}}
              <div class="grid-col-12 tablet:grid-col-3">
                {{/* {{- template "media" (dict "image" $page.original.source "size" "sm" "format" "square" ) -}} */}}
                <div class="person">
                  <img src="{{- $page.original.source -}}" alt="{{- $page.title -}}">
                  {{- if $page.terms.label -}}
                  <p>
                    <a href="{{- $person.url -}}" title="{{- index ($page.terms.label) 0 }}">{{- index ($page.terms.label) 0 }}</a>{{- if $page.terms.description }}, <em>{{ index ($page.terms.description) 0 -}}</em>{{- end }}
                    <a href="{{- $wikipedia_api -}}">API</a>
                  </p>
                  {{- end }}
                </div>

              </div>
            {{- end -}}
          {{- end -}}
        {{- end -}}
      {{- end -}}

      </div>

    </div>
  </div>
</div>
