## How to join

💻 **This event will be held over ZOOM.** We’ll send you a link to join this event after you register. Download and install ZOOM for desktop or mobile devices https://zoom.us/download

🕰 Please arrive `5-10mins` in advance to ensure you’re connected and ready to go.

🎧 We recommend viewing with headphones. It is easier to hear people and will be easier for you to ask a question, should you decide.

🗝 **Accessibility:** Closed-captioning in English will be available during the event. Our Q&A will be conducted using Zoom’s chat function, with the option to voice your question or have our staff read it.

**📺 Videos of past events** can be viewed on events page at https://brooklynrail.org/events.

**👾 Technical difficulties**

We work hard to make sure this is easy and enjoyable for everyone, but technology is not always kind. If you are not happy with the experience, we’ll happily refund any donation you made. We just ask that you let us know how we could have made the experience better for you.

**💌 Questions/feedback?** Let us know how we can make this experience better hq@brooklynrail.org
