<footer id="footer">
  <div class="grid-container grid-container-widescreen">
	  <div class="grid-row grid-gap-4">
	    <div class="grid-col-12 tablet-lg:grid-col-3">
        <a href="http://64.13.204.174/">
          <img src="{{- "material/img/brooklynrail-logo-white.svg" | absURL -}}" alt="{{- .Site.Title -}} Logo" />
        </a>
        <p class="sub-head">Critical Perspectives on Art, Politics and Culture</p>
      </div>
      <div class="grid-col-6 tablet-lg:grid-col-3 tablet-lg:grid-offset-1 desktop:grid-col-2 desktop:grid-offset-3">
        <h5>The RAIL</h5>
        <ul>
          <li><a href="http://64.13.204.174/about/?f">About the Rail</a></li>
          <li><a href="http://64.13.204.174/staff/?f">Staff</a></li>
          <li><a href="http://64.13.204.174/our-supporters/?f">Supporters</a></li>
          <li><a href="http://64.13.204.174/contributors/?f">Contributors</a></li>
          <li><a href="https://shop.brooklynrail.org?f">Store</a></li>
          <li><a href="http://64.13.204.174/history/?f">History</a></li>
          <li><a href="http://64.13.204.174/archives/?f">Archives</a></li>
          <li><a href="http://64.13.204.174/contact/?f">Contact Us</a></li>
        </ul>
      </div>
      <div class="grid-col-6 tablet-lg:grid-col-3 desktop:grid-col-2">
        <h5>Get Involved</h5>
        <ul>
          <li><a href="https://mailchi.mp/brooklynrail/join/?f">Sign up for our newsletter</a></li>
          <li><a href="http://64.13.204.174http://64.13.204.174/subscribe/?f">Subscribe</a></li>
          <li><a href="https://donate.brooklynrail.org?f">Donate</a></li>
          <li><a href="http://64.13.204.174http://64.13.204.174/advertise/?f">Advertise</a></li>
          <li><a href="http://64.13.204.174/submissions/?f">Submissions</a></li>
        </ul>
      </div>
      <div class="grid-col-12 tablet-lg:grid-col-2">
        <h5>Follow</h5>
        <ul>
          <li><a href="https://www.instagram.com/brooklynrail/" title="Follow @brooklynrail on Instagram"><i class="fab fa-instagram"></i> Instagram</a></li>
          <li><a href="https://www.youtube.com/thebrooklynrail?sub_confirmation=1" title="Subscribe to our YouTube channel"><i class="fab fa-youtube"></i> YouTube</a></li>
          <li><a href="https://twitter.com/thebrooklynrail" title="Follow @thebrooklynrail on Twitter"><i class="fab fa-twitter-square"></i> Twitter</a></li>
          <li><a href="https://www.facebook.com/thebrooklynrail" title="Like The Brooklyn Rail on Facebook"><i class="fab fa-facebook-f"></i> Facebook</a></li>
          <li><a href="/rss" title="The Brooklyn Rail RSS feed"><i class="fas fa-rss"></i> RSS</a></li>
        </ul>
      </div>
    </div>

    <div class="grid-row grid-gap-4">
	    <div class="grid-col-12">
        <p class="copyright">&copy; {{ now.Format "2006" }} {{ .Site.Title }}</p>
      </div>
    </div>

  </div>
</footer>
