<div class="usa-overlay"></div>

<header class="header">
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col-fill">
        <a class="" href="https://brooklynrail.org/" accesskey="1" title="Home" aria-label="{{ .Site.Title }}">
          <img class="" src="{{- "img/brooklynrail-logo-black.svg" | absURL -}}" alt="{{- $.Site.Title -}} Logo" />
        </a>
        <p class="sub-head"><span>Critical Perspectives on Art, Politics, and Culture</span> <span>&#8226;</span> <span>Independent and Free</span></p>
      </div>
    </div>
  </div>
</header>
