{{- print "<!--\n" "Last build: " (now.Format "Jan 2, 2006 at 3:04pm ET") "\nGet code for upcoming events at: https://brooklynrail.org/events/info" "\n-->\n" | safeHTML -}}

{{/* Gets all events */}}
{{- $events := where $.Site.RegularPages  "Section" "events" -}}

{{/* Upcoming Events ==================== */}}
{{/* Gets all $events with a date greater than or equal to today */}}
{{- $future_events := where $events "Date" "ge" (now.AddDate 0 0 0) -}}
{{/* Reverses the order of the events, so the next event is at the top */}}
{{- $future_events := $future_events.Reverse -}}

{{- if $future_events -}}
<div class="rail-newsletter">
  <div class="event-listing">
    <h3>Recently published</h3>
    {{ range $future_events }}

      {{- $permalink := .Permalink | relURL -}}
      {{- $permalink = replace $permalink "/info.html" "" -}}

      <div class="event-info">
        <div>
          <h3><a href="{{- $permalink -}}" title="{{- .Params.Title -}}" target="_blank">{{- .Params.Title -}}</a></h3>
          <p class="deck">{{- .Params.Deck -}}</p> 
          {{- $start_date := .Date -}}
          {{- $end_date := (time .Params.end_date) -}}
          {{/* This sets $future_event to true or false */}}
          {{- $future_event := (time .Params.end_date).After now -}}
          {{- if .Date -}}
          <div class="event-details">
            {{/* Start Date */}}
            <time class="dt-start" datetime="{{- dateFormat "2006-01-02T15:04:05Z07:00" (time $start_date) -}}">{{- dateFormat "Monday, January 2" (time $start_date) -}}</time>

            {{/* Hidden: This completes the `dt-end` value for the `h-event` microformat */}}
            <span class="hidden"> to <time class="dt-end" datetime="{{- dateFormat "2006-01-02T15:04:05Z07:00" (time $end_date) -}}">{{- dateFormat "Monday, January 2" (time $end_date) -}}</time></span>

            <p class="event-time">

              {{/*
              Time format logic — 
              - if the minutes are greater than 0, then show the minutes, otherwise only show the hour. (e.g. 1 p.m.)
              - convert AM to a.m.
              - convert PM to p.m. */}}
              <span>{{- if gt $start_date.Minute 0 -}}{{- dateFormat "3:04" (time $start_date) -}}{{- else -}}{{- dateFormat "3" (time $start_date) -}}{{- end -}}&nbsp;
              {{- $event_start_time_suffix := dateFormat "PM" (time $start_date) -}}
              {{- $event_start_time_suffix := replace $event_start_time_suffix "PM" "p.m." -}}
              {{- $event_start_time_suffix := replace $event_start_time_suffix "AM" "a.m." -}}
              {{- $event_start_time_suffix -}}&nbsp;ET</span>
              <span class="divider"> / </span>
              <span>{{ $event_start_time_suffix_pt := dateFormat "PM" ((time $start_date).Add ( -3 | duration "hour" )) -}}
              {{- $event_start_time_suffix_pt := replace $event_start_time_suffix_pt "PM" "p.m." -}}
              {{- $event_start_time_suffix_pt := replace $event_start_time_suffix_pt "AM" "a.m." -}}
              {{- if gt $start_date.Minute 0 -}}{{- dateFormat "3:04" ((time $start_date).Add ( -3 | duration "hour" )) -}}{{- else -}}{{- dateFormat "3" ((time $start_date).Add ( -3 | duration "hour" )) -}}{{- end -}}&nbsp;{{- $event_start_time_suffix_pt -}}&nbsp;PT</span>
            </p>

            {{/* location */}}
            {{- $event_platform_data := $.Site.Data.event_platforms -}}
            {{- $event_platforms := .Params.event_platform -}}
            {{- if $event_platforms -}}
            <div class="event_platforms p-location">
              {{- range $i, $e := $event_platforms -}}
                {{- $platform := index $event_platform_data $e -}}
                {{/* {{- if ne $i 0 }}, {{ end }} */}}
                <p class="{{- $e -}}">
                  <span>
                    <img src="{{- (print "/material/img/icons/" $platform.icon ) | absURL -}}" alt="{{ $platform.name }} Logo">&nbsp;{{- $platform.name -}}</span></p>
              {{- end -}}
            </div>
            {{- end -}}
            
          </div>
          {{- end -}}

          {{- if .Params.people -}}
            <h4>People and Poets</h4>
            <ul class="people">
            {{ range .Params.people }}
              <li><code>{{ .person }}</code> | <a href="https://brooklynrail.netlify.app/workflow/#/collections/people/entries/{{- .person -}}">edit</a></li>
            {{ end }}
            {{ range .Params.poets }}
              <li><code>{{ .person }}</code> | <a href="https://brooklynrail.netlify.app/workflow/#/collections/people/entries/{{- .person -}}">edit</a></li>
            {{ end }}
            </ul>
          {{ end }}
        </div>
        <div>
          {{- $path := .File.Dir -}}
          {{- $path = replace $path "events/" "" -}}
          {{- $path = print $path .File.BaseFileName -}}
          {{- $path = print "https://brooklynrail.netlify.app/workflow/#/collections/events/entries/" $path -}}
          <a class="btn btn-sm btn-register" title="Edit {{ .Params.Title -}}" href="{{- $path -}}" target="_blank"><span>Edit</span></a>
        </div>
        
      </div>
    {{- end -}}

  </div>
</div>

{{- end -}}
