<nav class="main-nav">
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col-12">
        <div class="nav">
          <ul>
            <li><a class="u-primary" href="" title=""><span>Current Issue</span></a></li>
            <li><a class="u-primary" href="#" title=""><span>Events</span></a></li>
            <li><a class="u-primary" href="#" title=""><span>About the Rail</span></a></li>
            <li><a class="u-primary" href="#" title=""><span>Subscribe</span></a></li>
            <li><a class="u-primary" href="#" title=""><span>Store</span></a></li>
            <li class="donate"><a class="u-white" href="" title=""><span>Donate</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
