<nav class="main-nav">
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col-12">
        <div class="nav">
          <ul>
          {{- $currentNode := . -}}
          {{- range .Site.Menus.primary -}}
            <li><a class="u-primary {{ if or ($currentNode.IsMenuCurrent "primary" .) ($currentNode.HasMenuCurrent "primary" .) }} current{{- end -}}" href="{{- .URL -}}" title="{{- .Name -}}"><span>{{- .Name | markdownify -}}</span></a></li>
          {{- end -}}
            <li class="donate"><a class="u-white" href="" title=""><span>Donate</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
